@media (max-width: 1300px) {
	.office-left__link {
		margin: 0px 0px 28px 0px;
	}
}
@media (max-width: 1202px) {
	.main-button__prev {
		left: 6.5%;
	}
	.main-button__next {
		right: 5.5%;
	}
	.houses__swiper,
.blog__swiper {
		left: 0;
	}
	.houses__title {
		font-size: 80px;
	}
	.office-left__title {
		line-height: 90px;
	}
	.management__right-column {
		left: -100px;
	}
	.why__background {
		background-size: 350px;
	}
	.item-why__number {
		font-size: 150px;
		line-height: 50px;
		margin: 120px 0px 31px 0px;
	}
	.item-why__number span, .item-why__number sup {
		font-size: 45px;
	}
	.item-why__label {
		font-size: 16px;
		line-height: 20px;
		margin: 0px 0px 60px 0px;
	}
	.item-why__text {
		font-size: 16px;
		line-height: 20px;
	}
}
@media (max-width: 991.98px) {
	.header__address, .header__phone {
		display: none;
	}
	.main-button__prev, .main-button__next {
		display: none;
	}
	.houses__title {
		max-width: 525px;
	}
	.houses__title sup {
		top: -105px;
		right: -75px;
	}
	.office {
		padding: 80px 0px 60px 0px;
	}
	.office__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.office__right-column {
		height: 100%;
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	.office__left-column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	.office-left__title {
		margin: 0px 0px 30px 0px;
	}
	.office-left__text {
		max-width: 90%;
		margin: 0px 0px 80px 0px;
	}
	.management__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.management__right-column {
		left: 0;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}
	.management-left__title {
		font-size: 65px;
	}
	.management-left__text {
		padding: 0px 0px 107px 0px;
	}
	.management-right {
		text-align: right;
	}
	.management-right__title {
		position: relative;
		max-width: 400px;
		font-size: 65px;
	}
	.management-right__title sup {
		position: absolute;
		width: 20%;
		top: 0;
		left: -30px;
	}
	.why__background {
		background-size: 330px;
	}
	.item-why__number {
		font-size: 128px;
		margin: 100px 0px 31px 0px;
	}
	.item-why__label {
		max-width: 230px;
		font-size: 15px;
		line-height: 18px;
	}
	.item-why__text {
		font-size: 15px;
		line-height: 18px;
	}
}
@media (max-width: 940px) {
	.information__background img {
		max-width: 100%;
		width: 100%;
		height: 107%;
		left: 0;
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: 45% 0%;
		   object-position: 45% 0%;
	}
	.information__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: 0;
	}
	.information__left-column {
		max-width: 90%;
		margin: 0px 0px 20px;
	}
	.information-left {
		padding: 44px 0px 0px 0px;
	}
	.information-left__text {
		max-width: 100%;
		margin: 0px 0px 38px 0px;
	}
	.information-left__stats {
		max-width: 80%;
		margin: 0 auto 35px;
	}
	.item-why__number {
		font-size: 105px;
		line-height: 45px;
	}
	.item-why__number span, .item-why__number sup {
		font-size: 40px;
	}
	.item-why__label {
		margin: 0px 30px 50px;
	}
}
@media (max-width: 767.98px) {
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 0px 0px 71px;
	}
	.menu__body.active {
		padding: 96px 0px 0px 71px;
	}
	.popup__title {
		font-size: 60px;
	}
	.information-left__stats {
		max-width: 100%;
		margin: 0 auto 35px;
	}
	.main-swiper__slide {
		max-width: 500px;
	}
	.houses__title {
		font-size: 65px;
		line-height: 70px;
	}
	.houses__title sup {
		top: -100px;
		right: -70px;
	}
	.why__background {
		background-size: 260px;
	}
	.why__items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.why__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 70%;
		        flex: 0 1 70%;
	}
	.item-why1,
.item-why3 {
		display: none;
	}
	.contact {
		background: url("../img/contact/background.jpg") 50% 65% no-repeat;
		background-size: 200%;
	}
	.contact__content {
		padding: 175px 0px 90px 0px;
	}
	.contact__form {
		max-width: 624px;
		width: 100%;
	}
	.contact-form {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 19px 1fr;
		grid-template-columns: 1fr 1fr;
		-ms-grid-rows: 55px 17px 1fr;
		grid-template-rows: 55px 1fr;
		-webkit-column-gap: 19px;
		   -moz-column-gap: 19px;
		        column-gap: 19px;
		row-gap: 17px;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
	}
	.contact-form > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.contact-form > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.contact-form > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.contact-form > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.contact-form__email {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		max-width: 100%;
	}
	.contact-form__submit {
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2/3;
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2/3;
		padding: 11px 0px;
	}
	.contact-form__checkbox {
		margin: 20px 0px 202px -19px;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1/2;
	}
}
@media (max-width: 600px) {
	.mainblock__text {
		font-size: 12px;
		line-height: 19px;
	}
	.mainblock__title {
		font-size: 48px;
		line-height: 43px;
	}
	.button-block {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.button-contact {
		padding: 8px 22px;
		font-size: 12px;
		line-height: 19px;
		margin: 0px 27px 0px 0px;
	}
	.button-presentation {
		font-size: 12px;
		line-height: 19px;
	}
	.menu__body {
		padding: 96px 0px 0px 34px;
	}
	.menu__body.active {
		width: 350px;
		padding: 96px 0px 0px 34px;
	}
	.menu__link {
		font-size: 14px;
		line-height: 16.8px;
		color: rgb(199, 199, 199);
	}
	.menu__link.instagram-icon, .menu__link.facebook-icon {
		display: inline-block;
		margin: 0px 0px 100px 0px;
	}
	.menu__link.instagram-icon {
		float: left;
		margin: 0px 14px 0px 0px;
	}
	.menu__list li:nth-child(9), .menu__list li:nth-child(11), .menu__list li:nth-child(12) {
		margin: 0px 0px 42px 0px;
	}
	.menu__list li a.bottom-link {
		margin: 0px 0px 14px 0px;
	}
	.information {
		padding: 44px 0px 0px;
	}
	.information__background img {
		height: 75%;
		top: -70px;
		-o-object-position: 0% 0%;
		   object-position: 0% 0%;
	}
	.information__right-column {
		width: 100%;
	}
	.information-left {
		padding: 0px 0px 0px 0px;
	}
	.information-left__title {
		font-size: 48px;
		line-height: 43px;
		margin: 0px 0px 38px 0px;
	}
	.information-left__title sup {
		font-size: 10px;
		line-height: 16px;
		top: -20px;
	}
	.information-left__sub-title {
		font-size: 14px;
		line-height: 17px;
		margin: 0px 0px 35px 0px;
	}
	.information-left__text {
		font-size: 12px;
		line-height: 19px;
		max-width: 466px;
		margin: 0px 0px 30px 0px;
	}
	.information-left__button {
		width: 100%;
		text-align: center;
		padding: 16px 0px;
	}
	.information-right__photo {
		max-width: 100%;
		width: 100%;
	}
	.information-right__founder {
		bottom: 33px;
		left: 25px;
	}
	.title {
		max-width: 312px;
		font-size: 48px;
		line-height: 43px;
	}
	.main-swiper__slide {
		max-width: 400px;
	}
	.houses {
		padding: 60px 0px 62px 0px;
	}
	.houses__title {
		margin: 0px 0px 50px 0px;
	}
	.houses__title sup {
		font-size: 10px;
		line-height: 16px;
		top: -60px;
		right: -40px;
	}
	.slide__location {
		font-size: 12px;
		line-height: 14px;
		margin: 23px 0px 180px 20px;
	}
	.slide__location::before {
		content: "";
		margin: 0px 7px 0px 0px;
		width: 11px;
		height: 16px;
	}
	.slide__icon img {
		width: 44px;
	}
	.slide__label {
		font-size: 12px;
		line-height: 18px;
		max-width: 73px;
		line-height: 21px;
		margin: 0px 0px 18px 18px;
	}
	.slide__title {
		max-width: 250px;
		font-size: 20px;
		line-height: 20px;
		margin: 0px 0px 11px 18px;
	}
	.slide__text {
		max-width: 320px;
		font-size: 14px;
		line-height: 18px;
		margin: 0px 0px 24px 18px;
	}
	.blog {
		padding: 65px 0px 152px 0px;
	}
	.blog__title {
		margin: 0px 0px 65px 0px;
	}
	.blog__title sup {
		top: -15px;
		right: -30px;
	}
	.blog__title sup svg {
		width: 50px;
		height: 50px;
	}
	.slide-blog__top {
		margin: 23px 0px 274px 18px;
	}
	.slide-blog__label {
		margin: 0px 0px 0px 0px;
	}
	.slide-blog__link {
		display: none;
	}
	.slide-blog__location {
		margin: 23px 0px 290px 18px;
	}
	.slide-blog__text {
		margin: 0px 0px 19px 18px;
	}
	.office {
		overflow: hidden;
	}
	.office__content {
		margin: 0px 0px 0px 0px;
	}
	.office__background {
		height: 80%;
	}
	.office-left {
		margin: 0px 25px;
	}
	.office-left__title {
		max-width: 100%;
		margin: 0px 0px 30px 0px;
	}
	.office-left__text {
		font-size: 12px;
		line-height: 19px;
		margin: 0px 0px 46px 0px;
	}
	.office-left__button {
		padding: 16px 0px;
		width: 100%;
		text-align: center;
		margin: 0px 0px 46px 0px;
	}
	.management {
		padding: 55px 0px 77px;
	}
	.management__background {
		background-size: 700px;
	}
	.management-left__title {
		margin: 0px 0px 41px 0px;
	}
	.management-left__title sup {
		top: -50px;
		left: -95px;
	}
	.management-left__title sup a {
		font-size: 10px;
		line-height: 16px;
	}
	.management-left__text {
		font-size: 12px;
		line-height: 19px;
		padding: 0px 0px 100px 0px;
	}
	.management-right__title sup {
		position: absolute;
		width: 18%;
		top: -10px;
		left: 0;
	}
	.management-right__title sup a {
		font-size: 10px;
		line-height: 16px;
	}
	.management-right__text {
		font-size: 12px;
		line-height: 19px;
	}
	.why {
		padding: 38px 0px 78px;
	}
	.why-left__title {
		max-width: 100%;
		margin: 0px 0px 47px 0px;
	}
	.item-why__number {
		line-height: 105px;
		margin: 59px 0px 0px 0px;
	}
	.item-why__number span {
		margin: 0px 0px 0px 15px;
		font-size: 35px;
		color: rgba(255, 255, 255, 0.7);
	}
	.item-why__label {
		margin: 0px 30px 64px;
	}
	.item-why__text {
		font-size: 12px;
		line-height: 19px;
	}
	.contact {
		background: url("../img/contact/background.jpg") 50% 65% no-repeat;
		background-size: 200%;
	}
	.contact__content {
		padding: 378px 0px 226px 0px;
	}
	.contact__form {
		max-width: 450px;
		width: 100%;
	}
	.contact-form {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 19px 1fr;
		grid-template-columns: 1fr 1fr;
		-ms-grid-rows: 55px 17px 1fr;
		grid-template-rows: 55px 1fr;
		-webkit-column-gap: 19px;
		   -moz-column-gap: 19px;
		        column-gap: 19px;
		row-gap: 17px;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
	}
	.contact-form > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.contact-form > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.contact-form > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.contact-form > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.contact-form__email {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		max-width: 100%;
	}
	.contact-form__submit {
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2/3;
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2/3;
		padding: 11px 0px;
	}
	.contact-form__checkbox {
		margin: 20px 0px 202px -19px;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1/2;
	}
}
@media (max-width: 500px) {
	.popup__title {
		font-size: 48px;
		line-height: 43.2px;
	}
	.popup__sub-title {
		font-size: 12px;
		line-height: 19px;
		margin: 0px 0px 49px 0px;
	}
	.popup__content {
		padding: 0px 34px 0px 20px;
	}
	.popup__header {
		padding: 20px 0px 43px 0px;
	}
	.form-style {
		font-size: 12px;
		font-weight: 300;
		line-height: 19px;
	}
	.popup-background {
		background: url("../img/mainblock/popup/background_mobile.png") 101% 0% no-repeat;
		background-size: cover;
	}
	.header-popup__logo {
		font-size: 12px;
		line-height: 19px;
	}
	.header-popup__close {
		top: 20px;
		background: url("../img/mainblock/popup/close_adapt.svg") center center no-repeat;
	}
	.popup-form__submit {
		font-size: 14px;
		line-height: 22.4px;
	}
	.popup-form__label::before, .popup-form__label::after {
		top: 20%;
	}
	.popup-form__label a {
		font-weight: 700;
	}
	.footer-popup__phone a, .footer-popup__email a, .footer-popup__address a {
		font-size: 12px;
		font-weight: 400;
		line-height: 19px;
	}
	.office-left__title {
		margin: 0px 0px 47px 0px;
	}
	.office-left__link, .office-left__button {
		display: none;
	}
	.office-right__gradient {
		display: block;
	}
	.office-right__link {
		display: block;
		text-align: center;
		margin: -41px 0px 0px 0px;
	}
	.office {
		padding: 35px 0px 0px 0px;
	}
	.office__right-column {
		padding: 605px 0px 0px 0px;
	}
	.why__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}
@media (max-width: 479.98px) {
	.mainblock__title {
		font-size: 38px;
		line-height: 43px;
	}
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 300px;
		padding: 96px 10px 0px 34px;
	}
	.footer-popup {
		position: relative;
	}
	.footer-popup__icons {
		display: block;
	}
	.footer-popup__icons a {
		position: absolute;
		top: 0;
		right: 0;
	}
	.footer-popup__instagram, .footer-popup__facebook {
		display: block;
		-webkit-transition: -webkit-transform 0.5s ease 0s;
		transition: -webkit-transform 0.5s ease 0s;
		-o-transition: transform 0.5s ease 0s;
		transition: transform 0.5s ease 0s;
		transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
	}
	.footer-popup__instagram:hover, .footer-popup__facebook:hover {
		-webkit-transform: scale(1.08);
		    -ms-transform: scale(1.08);
		        transform: scale(1.08);
	}
	.footer-popup__instagram {
		margin: 0px 40px 0px 0px;
	}
	.popup-form__label a {
		font-weight: 700;
	}
	.phone-footer__text,
.address-footer__text {
		color: rgb(184, 184, 184);
	}
	.phone-footer__image path,
.address-footer__image path {
		fill: rgb(184, 184, 184);
	}
	.email-footer__email {
		color: rgb(184, 184, 184);
	}
	.email-footer__image path {
		fill: rgb(184, 184, 184);
	}
}
@media (max-width: 425px) {
	.mainblock {
		padding: 0px 0px 278px 0px;
	}
	.information__left-column {
		margin: 0px 0px 0px;
	}
	.information-left__button, .information-left__stats {
		display: none;
	}
	.founder-info__name {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
	}
	.founder-info__position {
		font-size: 12px;
		line-height: 19px;
	}
	.slide__icon {
		right: 20px;
	}
	.slide__icon img {
		width: 44px;
	}
	.slide__title {
		font-size: 15px;
		line-height: 18px;
		max-width: 250px;
	}
	.slide__text {
		font-size: 12px;
		max-width: 250px;
	}
	.slide-houses2,
.slide-blog2 {
		background-position: 0% 25%;
	}
	.management__background {
		background-size: 860px;
		background-position: 80% 50%;
	}
	.management-left__title {
		font-size: 44px;
	}
	.management-left__title sup {
		left: -90px;
	}
	.management-left__text {
		max-width: 271px;
	}
	.management-right__title {
		font-size: 44px;
	}
	.management-right__title sup {
		left: 20px;
	}
	.management-right__text {
		padding: 0px 0px 0px 60px;
	}
	.why__background {
		background-size: 285px;
	}
}
@media (max-width: 375px) {
	.mainblock__title {
		font-size: 36px;
	}
	.header__body {
		padding: 27px 0px 218px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 231px;
		padding: 96px 10px 0px 34px;
	}
	.menu__link {
		max-width: 187px;
	}
	.title {
		max-width: 200px;
		font-size: 45px;
		line-height: 43px;
	}
	.information-left__title {
		max-width: 100%;
	}
	.main-swiper__slide {
		max-width: 296px;
	}
	.houses__title sup {
		top: -50px;
		right: -185px;
	}
	.office__background {
		-webkit-transform: rotate(-13deg);
		    -ms-transform: rotate(-13deg);
		        transform: rotate(-13deg);
		top: -85px;
	}
	.management-left__title {
		font-size: 36px;
	}
	.management-left__title sup {
		left: -70px;
	}
	.management-right__title {
		font-size: 36px;
	}
	.management-right__title sup {
		width: 27%;
		left: -45px;
	}
}