@media (max-width: 991.98px) {
	.header__address, .header__phone {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 0px 0px 71px;
	}
	.menu__body.active {
		padding: 96px 0px 0px 71px;
	}
}
@media (max-width: 600px) {
	.mainblock__title {
		font-size: 48px;
		line-height: 43px;
	}
	.mainblock__text {
		font-size: 12px;
		line-height: 19px;
	}
	.button-block {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.button-contact {
		padding: 8px 22px;
		font-size: 12px;
		line-height: 19px;
		margin: 0px 27px 0px 0px;
	}
	.button-presentation {
		font-size: 12px;
		line-height: 19px;
	}
	.menu__body {
		padding: 96px 0px 0px 34px;
	}
	.menu__body.active {
		width: 350px;
		padding: 96px 0px 0px 34px;
	}
	.menu__link {
		font-size: 14px;
		line-height: 16.8px;
		color: rgb(199, 199, 199);
	}
	.menu__link.instagram-icon, .menu__link.facebook-icon {
		display: inline-block;
		margin: 0px 0px 100px 0px;
	}
	.menu__link.instagram-icon {
		float: left;
		margin: 0px 14px 0px 0px;
	}
	.menu__list li:nth-child(9), .menu__list li:nth-child(11), .menu__list li:nth-child(12) {
		margin: 0px 0px 42px 0px;
	}
	.menu__list li a.bottom-link {
		margin: 0px 0px 14px 0px;
	}
}
@media (max-width: 479.98px) {
	.mainblock__title {
		font-size: 38px;
		line-height: 43px;
	}
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 300px;
		padding: 96px 10px 0px 34px;
	}
}
@media (max-width: 375px) {
	.header__body {
		padding: 27px 0px 218px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 231px;
		padding: 96px 10px 0px 34px;
	}
	.menu__link {
		max-width: 187px;
	}
}