@media (max-width: 1202px) {
	.houses__button-prev {
		left: 6.5%;
	}
	.houses__button-next {
		right: 5.5%;
	}
}
@media (max-width: 991.98px) {
	.header__address, .header__phone {
		display: none;
	}
	.houses__swiper {
		left: 0;
	}
	.houses__title {
		max-width: 525px;
	}
	.houses__title sup {
		top: -105px;
		right: -75px;
	}
	.houses__button-prev, .houses__button-next {
		display: none;
	}
}
@media (max-width: 940px) {
	.information__background img {
		max-width: 100%;
		width: 100%;
		height: 107%;
		left: 0;
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: 45% 0%;
		   object-position: 45% 0%;
	}
	.information__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: 0;
	}
	.information__left-column {
		max-width: 90%;
		margin: 0px 0px 20px;
	}
	.information-left {
		padding: 44px 0px 0px 0px;
	}
	.information-left__text {
		max-width: 100%;
		margin: 0px 0px 38px 0px;
	}
	.information-left__stats {
		max-width: 80%;
		margin: 0 auto 35px;
	}
}
@media (max-width: 767.98px) {
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 0px 0px 71px;
	}
	.menu__body.active {
		padding: 96px 0px 0px 71px;
	}
	.popup__title {
		font-size: 60px;
	}
	.information-left__stats {
		max-width: 100%;
		margin: 0 auto 35px;
	}
	.houses__slide {
		max-width: 500px;
	}
	.houses__title {
		font-size: 65px;
		line-height: 70px;
	}
	.houses__title sup {
		top: -100px;
		right: -70px;
	}
}
@media (max-width: 600px) {
	.mainblock__text {
		font-size: 12px;
		line-height: 19px;
	}
	.mainblock__title {
		font-size: 48px;
		line-height: 43px;
	}
	.button-block {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.button-contact {
		padding: 8px 22px;
		font-size: 12px;
		line-height: 19px;
		margin: 0px 27px 0px 0px;
	}
	.button-presentation {
		font-size: 12px;
		line-height: 19px;
	}
	.menu__body {
		padding: 96px 0px 0px 34px;
	}
	.menu__body.active {
		width: 350px;
		padding: 96px 0px 0px 34px;
	}
	.menu__link {
		font-size: 14px;
		line-height: 16.8px;
		color: rgb(199, 199, 199);
	}
	.menu__link.instagram-icon, .menu__link.facebook-icon {
		display: inline-block;
		margin: 0px 0px 100px 0px;
	}
	.menu__link.instagram-icon {
		float: left;
		margin: 0px 14px 0px 0px;
	}
	.menu__list li:nth-child(9), .menu__list li:nth-child(11), .menu__list li:nth-child(12) {
		margin: 0px 0px 42px 0px;
	}
	.menu__list li a.bottom-link {
		margin: 0px 0px 14px 0px;
	}
	.information {
		padding: 44px 0px 0px;
	}
	.information__background img {
		height: 75%;
		top: -70px;
		-o-object-position: 0% 0%;
		   object-position: 0% 0%;
	}
	.information__right-column {
		width: 100%;
	}
	.information-left {
		padding: 0px 0px 0px 0px;
	}
	.information-left__title {
		font-size: 48px;
		line-height: 43px;
		margin: 0px 0px 38px 0px;
	}
	.information-left__title sup {
		font-size: 10px;
		line-height: 16px;
		top: -20px;
	}
	.information-left__sub-title {
		font-size: 14px;
		line-height: 17px;
		margin: 0px 0px 35px 0px;
	}
	.information-left__text {
		font-size: 12px;
		line-height: 19px;
		max-width: 466px;
		margin: 0px 0px 30px 0px;
	}
	.information-left__button {
		width: 100%;
		text-align: center;
		padding: 16px 0px;
	}
	.information-right__photo {
		max-width: 100%;
		width: 100%;
	}
	.information-right__founder {
		bottom: 33px;
		left: 25px;
	}
	.title {
		max-width: 312px;
		font-size: 48px;
		line-height: 43px;
	}
	.houses {
		padding: 60px 0px 62px 0px;
	}
	.houses__slide {
		max-width: 400px;
	}
	.houses__title {
		margin: 0px 0px 50px 0px;
	}
	.houses__title sup {
		font-size: 10px;
		line-height: 16px;
		top: -60px;
		right: -40px;
	}
	.slide-houses__location {
		font-size: 12px;
		line-height: 14px;
		margin: 23px 0px 180px 20px;
	}
	.slide-houses__location::before {
		content: "";
		margin: 0px 7px 0px 0px;
		width: 11px;
		height: 16px;
	}
	.slide-houses__icon img {
		width: 44px;
	}
	.slide-houses__label {
		font-size: 12px;
		line-height: 18px;
		max-width: 73px;
		line-height: 21px;
		margin: 0px 0px 18px 18px;
	}
	.slide-houses__title {
		max-width: 250px;
		font-size: 20px;
		line-height: 20px;
		margin: 0px 0px 11px 18px;
	}
	.slide-houses__text {
		max-width: 320px;
		font-size: 14px;
		line-height: 18px;
		margin: 0px 0px 24px 18px;
	}
}
@media (max-width: 500px) {
	.popup__title {
		font-size: 48px;
		line-height: 43.2px;
	}
	.popup__sub-title {
		font-size: 12px;
		line-height: 19px;
		margin: 0px 0px 49px 0px;
	}
	.popup__content {
		padding: 0px 34px 0px 20px;
	}
	.popup__header {
		padding: 20px 0px 43px 0px;
	}
	.form-style {
		font-size: 12px;
		font-weight: 300;
		line-height: 19px;
	}
	.popup-background {
		background: url("../img/mainblock/popup/background_mobile.png") 101% 0% no-repeat;
		background-size: cover;
	}
	.header-popup__logo {
		font-size: 12px;
		line-height: 19px;
	}
	.header-popup__close {
		top: 20px;
		background: url("../img/mainblock/popup/close_adapt.svg") center center no-repeat;
	}
	.popup-form__submit {
		font-size: 14px;
		line-height: 22.4px;
	}
	.popup-form__label::before, .popup-form__label::after {
		top: 20%;
	}
	.popup-form__label a {
		font-weight: 700;
	}
	.footer-popup__phone a, .footer-popup__email a, .footer-popup__address a {
		font-size: 12px;
		font-weight: 400;
		line-height: 19px;
	}
}
@media (max-width: 479.98px) {
	.mainblock__title {
		font-size: 38px;
		line-height: 43px;
	}
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 300px;
		padding: 96px 10px 0px 34px;
	}
	.footer-popup {
		position: relative;
	}
	.footer-popup__icons {
		display: block;
	}
	.footer-popup__icons a {
		position: absolute;
		top: 0;
		right: 0;
	}
	.footer-popup__instagram, .footer-popup__facebook {
		display: block;
		-webkit-transition: -webkit-transform 0.5s ease 0s;
		transition: -webkit-transform 0.5s ease 0s;
		-o-transition: transform 0.5s ease 0s;
		transition: transform 0.5s ease 0s;
		transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
	}
	.footer-popup__instagram:hover, .footer-popup__facebook:hover {
		-webkit-transform: scale(1.08);
		    -ms-transform: scale(1.08);
		        transform: scale(1.08);
	}
	.footer-popup__instagram {
		margin: 0px 40px 0px 0px;
	}
	.popup-form__label a {
		font-weight: 700;
	}
	.phone-footer__text,
.address-footer__text {
		color: rgb(184, 184, 184);
	}
	.phone-footer__image path,
.address-footer__image path {
		fill: rgb(184, 184, 184);
	}
	.email-footer__email {
		color: rgb(184, 184, 184);
	}
	.email-footer__image path {
		fill: rgb(184, 184, 184);
	}
}
@media (max-width: 425px) {
	.mainblock {
		padding: 0px 0px 278px 0px;
	}
	.information__left-column {
		margin: 0px 0px 0px;
	}
	.information-left__button, .information-left__stats {
		display: none;
	}
	.founder-info__name {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
	}
	.founder-info__position {
		font-size: 12px;
		line-height: 19px;
	}
	.slide-houses__icon {
		right: 20px;
	}
	.slide-houses__icon img {
		width: 44px;
	}
	.slide-houses__title {
		font-size: 15px;
		line-height: 18px;
		max-width: 250px;
	}
	.slide-houses__text {
		font-size: 12px;
		max-width: 250px;
	}
}
@media (max-width: 375px) {
	.mainblock__title {
		font-size: 36px;
	}
	.header__body {
		padding: 27px 0px 218px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 231px;
		padding: 96px 10px 0px 34px;
	}
	.menu__link {
		max-width: 187px;
	}
	.title {
		max-width: 200px;
		font-size: 45px;
		line-height: 43px;
	}
	.information-left__title {
		max-width: 100%;
	}
	.houses__slide {
		max-width: 296px;
	}
	.houses__title sup {
		top: -50px;
		right: -185px;
	}
}