@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Manrope";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Manrope";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a {
	color: rgb(255, 255, 255);
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 400;
	background-color: rgb(16, 16, 16);
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
}
.container {
	max-width: 1190px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1202px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 20px;
	}
}

.text-style {
	font-family: Manrope;
	font-size: 15px;
	line-height: 24px;
}

a.bottom-link {
	font-size: 15px;
}

.link1 {
	float: left;
	padding: 0px 52px 0px 0px;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.header__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 43px 0px 230.5px 0px;
	z-index: 10;
}
.header__rightside {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 702.65px;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__logo {
	max-width: 99px;
	width: 100%;
}
.header__address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 442.5px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__address::before {
	content: "";
	width: 1px;
	margin: 0px 16px 0px 3px;
	height: 31.5px;
	background: rgba(255, 255, 255, 0.5);
}
.header__address::after {
	content: "";
	width: 1px;
	margin: 0px 0px 0px 7px;
	height: 31.5px;
	background: rgba(255, 255, 255, 0.5);
}
.header__phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__leftside {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 132px;
	width: 100%;
}
.header__languages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 62%;
	        flex: 0 1 62%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__language {
	padding: 6px 0px 7px 0px;
	font-size: 12px;
	line-height: 100%;
	z-index: 1;
}
.header__language._active {
	padding: 6px 0px 6px 0px;
	border-bottom: 1px solid rgb(255, 255, 255);
}
.header__menu {
	display: inline-block;
}

.logo-header__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.logo-header__image {
	margin: 0px 8px 0px 0px;
}
.logo-header__text {
	font-size: 15px;
	line-height: 160%;
}

.address-header__image {
	margin: 0px 12px 0px 0px;
}
.address-header__text {
	font-size: 15px;
	line-height: 160%;
}
.address-header__text:hover {
	text-decoration: underline;
}

.phone-header__image {
	margin: 0px 3.75px 0px 0px;
}
.phone-header__number {
	font-size: 15px;
	line-height: 160%;
}
.phone-header__number:hover {
	text-decoration: underline;
}

li.instagram-icon img,
li.facebook-icon img {
	display: none;
}

.menu__body {
	position: fixed;
	top: 0%;
	right: -200%;
	width: 525px;
	height: 100%;
	overflow: auto;
	background-color: rgb(26, 26, 26);
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	padding: 184px 0px 0px 71px;
}
.menu__body.active {
	right: 0;
	padding: 184px 0px 0px 71px;
}
.menu__list li:nth-child(-n+8) {
	margin: 0px 0px 25px 0px;
}
.menu__list li:nth-child(9) {
	margin: 0px 0px 58px 0px;
}
.menu__list li:nth-child(10) {
	margin: 0px 0px 10px 0px;
}
.menu__list li:nth-child(11) {
	margin: 0px 0px 102px 0px;
}
.menu__list li:nth-child(12) {
	margin: 0px 0px 79px 0px;
}
.menu__list li a.bottom-link {
	margin: 0px 0px 89px 0px;
}
.menu__link {
	display: inline-block;
	position: relative;
	font-family: Manrope;
	font-size: 20px;
	line-height: 24px;
	color: rgb(101, 101, 101);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.menu__link._active {
	color: rgb(255, 255, 255);
}
.menu__link._active::before {
	content: "";
	position: absolute;
	top: 40%;
	left: -35%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}
.menu__link:hover {
	color: rgb(255, 255, 255);
}
.menu__link.instagram-icon, .menu__link.facebook-icon {
	display: none;
}

.icon-menu {
	display: block;
	position: absolute;
	top: 25%;
	right: 0px;
	width: 16px;
	height: 14px;
	cursor: pointer;
	z-index: 5;
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 6.5px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgb(255, 255, 255);
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active {
	width: 22px;
	height: 22px;
}
.icon-menu.active span {
	background-color: rgb(101, 101, 101);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 6.5px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 14.5px;
}

.mainblock {
	padding: 0px 0px 240px 0px;
	background: url("../img/mainblock/background.png") 50% 62.5% no-repeat;
	background-size: cover;
}
.mainblock__shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s ease 0.1s;
	-o-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
	z-index: -1;
}
.mainblock__shadow.active {
	background: rgba(16, 16, 16, 0.5);
	z-index: 0;
}
.mainblock__title {
	max-width: 900px;
	font-family: "Playfair Display";
	font-size: 71px;
	line-height: 64px;
	margin: 0px 0px 29px 0px;
	vertical-align: top;
	text-align: left;
	letter-spacing: -0.02em;
}
.mainblock__text {
	max-width: 511px;
	margin: 0px 0px 27px 0px;
}
.button-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.button-contact {
	padding: 16px 15px;
	border-radius: 7px;
	background-color: rgb(255, 249, 236);
	color: rgb(190, 126, 0);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.button-contact:hover {
	background-color: rgb(190, 126, 0);
	color: rgb(255, 249, 236);
	-webkit-box-shadow: 0 0 10px 2.5px;
	        box-shadow: 0 0 10px 2.5px;
}

.button-presentation {
	padding: 6px 0px 4px 0px;
	border-bottom: 1px solid rgb(255, 255, 255);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.button-presentation:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}

@media (max-width: 991.98px) {
	.header__address, .header__phone {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 0px 0px 71px;
	}
	.menu__body.active {
		padding: 96px 0px 0px 71px;
	}
}
@media (max-width: 600px) {
	.mainblock__title {
		font-size: 48px;
		line-height: 43px;
	}
	.mainblock__text {
		font-size: 12px;
		line-height: 19px;
	}
	.button-block {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.button-contact {
		padding: 8px 22px;
		font-size: 12px;
		line-height: 19px;
		margin: 0px 27px 0px 0px;
	}
	.button-presentation {
		font-size: 12px;
		line-height: 19px;
	}
	.menu__body {
		padding: 96px 0px 0px 34px;
	}
	.menu__body.active {
		width: 350px;
		padding: 96px 0px 0px 34px;
	}
	.menu__link {
		font-size: 14px;
		line-height: 16.8px;
		color: rgb(199, 199, 199);
	}
	.menu__link.instagram-icon, .menu__link.facebook-icon {
		display: inline-block;
		margin: 0px 0px 100px 0px;
	}
	.menu__link.instagram-icon {
		float: left;
		margin: 0px 14px 0px 0px;
	}
	.menu__list li:nth-child(9), .menu__list li:nth-child(11), .menu__list li:nth-child(12) {
		margin: 0px 0px 42px 0px;
	}
	.menu__list li a.bottom-link {
		margin: 0px 0px 14px 0px;
	}
}
@media (max-width: 479.98px) {
	.mainblock__title {
		font-size: 38px;
		line-height: 43px;
	}
	.header__body {
		padding: 27px 0px 220px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 300px;
		padding: 96px 10px 0px 34px;
	}
}
@media (max-width: 375px) {
	.header__body {
		padding: 27px 0px 218px 0px;
	}
	.menu__body {
		padding: 96px 10px 0px 34px;
	}
	.menu__body.active {
		width: 231px;
		padding: 96px 10px 0px 34px;
	}
	.menu__link {
		max-width: 187px;
	}
}