.text-style {
	font-size: 15px;
	line-height: 24px;
}

a.bottom-link {
	font-size: 15px;
}

.link1 {
	float: left;
	padding: 0px 52px 0px 0px;
}

.form-style {
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	background: transparent;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	margin: 0px 0px 29px 0px;
	-webkit-transition: border-bottom 0.5s ease 0s;
	-o-transition: border-bottom 0.5s ease 0s;
	transition: border-bottom 0.5s ease 0s;
}
.form-style:focus {
	border-bottom: 1px solid rgb(255, 255, 255);
}

.title {
	font-family: "Playfair Display";
	font-size: 85px;
	font-weight: 400;
	line-height: 76px;
	letter-spacing: -0.02em;
}

.submit-btn {
	width: 132px;
	font-weight: 500;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	background: none;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
	padding: 0px 0px 2px 0px;
	cursor: pointer;
	-webkit-transition: border-bottom 0.5s ease 0s;
	-o-transition: border-bottom 0.5s ease 0s;
	transition: border-bottom 0.5s ease 0s;
}
.submit-btn:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}