//<APARTMENT-MAINBLOCK>=============================================================================================
.apartment-mainblock {
   position: relative;
   padding: 0px 0px 379px 0px;
   background: url('../img/apartmentpage/mainblock/background.jpg') 25% 35% no-repeat;
   background-size: 130%;

   &__gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
   }

   &__content {
      position: relative;
      @include flexbox();
      flex-direction: column;
      padding: 32px 0px 0px 0px;
   }

   &__location {
      display: inline-block;
      font-size: 20px;
      line-height: 24px;

      margin: 0px 0px 13px 0px;

      &::before {
         content: url('/img/apartmentpage/mainblock/location-icon.svg');

         position: relative;
         top: 3px;

         margin: 0px 11px 0px 0px;

      }
   }

   &__title {
      position: relative;
      display: inline-block;
      margin: 0px 0px 27px 0px;

      & sup {
         position: absolute;
         left: 640px;
         top: 90px;
      }
   }

   &__subtitle {
      font-size: 20px;
      line-height: 24px;

      margin: 0px 0px 19px 0px;
   }

   &__text {
      font-size: 12px;
      line-height: 18px;


      margin: 0px 0px 60px 0px;
   }
}

.apartment-breadcrumbs {
   margin: 0px 0px 147px 0px;

   &__list {
      max-width: 274px;
      width: 100%;
   }
}

.apartment-bottom {
   @include flexbox();
   align-items: center;
   max-width: 286px;
   width: 100%;

   &__label {
      font-size: 14px;
      line-height: 21px;
      color: rgba(190, 126, 0, 1);
      background-color: rgba(255, 249, 236, 1);

      padding: 6px 16px;
      border-radius: 8px;
      margin: 0px 33px 0px 0px;
   }

   &__size {
      font-size: 14px;
      line-height: 21px;
      margin: 0px 19px 0px 0px;
   }

   &__price {
      font-size: 14px;
      line-height: 17px;
      margin: 0px 0px 0px 17px;
   }
}

//</APARTMENT-MAINBLOCK>============================================================================================
//<ABOUT-OBJECT>============================================================================================

.about-columns {
   padding: 118px 0px 172px 0px;
   @include flexbox();
   justify-content: space-between;


   &__left {
      flex: 0 1 40%;
   }

   &__right {
      position: relative;
      flex: 0 1 37%;

      margin: 35px 65px 0px 0px;

      background-image: url('../img/apartmentpage/about-object/building.jpg');
      background-size: 170%;
      background-position: 7% 47%;
      background-repeat: no-repeat;

      & svg {
         position: absolute;
         top: -18.3px;
         right: 24px;
      }
   }
}

.about-left {

   &__title {
      margin: 0px 0px 72px 0px;
   }

   &__text {
      margin: 0px 0px 25px 0px;

      &_last-text {
         margin: 0px 0px 28px 0px;
      }
   }
}

.about-bottom {
   max-width: 425px;
   width: 100%;

   @include flexbox();
   align-items: center;
   justify-content: space-between;

   &__left {
      flex: 0 1 139px;

      @include flexbox();
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      font-size: 14px;
      line-height: 21px;
      text-align: left;
   }

   &__button {
      cursor: pointer;

      padding: 16px 45px;

      background-color: rgba(255, 255, 255, 0.07);
      border-radius: 7px;
   }
}

//</ABOUT-OBJECT>============================================================================================
//<ABOUT-SLIDER>============================================================================================

.object-swiper {
   position: relative;
   width: 100%;
   height: 100%;

   &__wrapper {
      @include flexbox();
      width: 100%;
      height: 100%;
   }

   &__slide {
      position: relative;
      flex-shrink: 0;
      max-width: 100%;
      width: 100%;

      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__button-prev,
   &__button-next {
      position: absolute;
      top: calc(50% - 18px);

      height: 36px;
      width: 36px;

      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      @include anim(0.5s, 0s);

      cursor: pointer;

      &:hover {
         background-color: rgba(255, 255, 255, 0.9);
      }
   }

   &__button-prev {
      left: 125px;

      .arrow-top,
      .arrow-bottom {
         position: relative;
         display: inline-block;
         height: 12px;
         width: 1px;

         background: rgba(105, 105, 105, 1);
      }

      .arrow-top {
         top: 7px;
         left: 16px;

         transform: rotate(45deg);
      }

      .arrow-bottom {
         top: 15px;
         left: 12px;

         transform: rotate(-45deg);
      }
   }

   &__button-next {
      right: 125px;

      .arrow-top,
      .arrow-bottom {
         position: relative;
         display: inline-block;
         height: 11px;
         width: 1px;

         background: rgba(105, 105, 105, 1);
      }

      .arrow-top {
         top: 7px;
         left: 18.5px;

         transform: rotate(-45deg);
      }

      .arrow-bottom {
         top: 15px;
         left: 14.7px;

         transform: rotate(45deg);
      }
   }
}

//</ABOUT-SLIDER>============================================================================================
//<ABOUT-DETAILS>============================================================================================

.details {
   position: relative;

   &__backgrounds {
      position: absolute;
      width: 100%;
      height: 580px;
      top: 0;
      left: 0;

      overflow: hidden;
   }

   &__container {
      max-width: 1279px;
      width: 95%;
      margin: 0 auto;
   }

   &__content {
      position: relative;
      top: -60px;
      padding: 55px 0px 75px 45px;
      background-color: rgba(255, 251, 242, 1);
   }

   &__title {
      margin: 0px 0px 40px 0px;
   }

   &__text {
      max-width: 473px;
      width: 100%;

      margin: 0px 0px 32px 0px;
   }
}

.details-background {

   &__left {
      position: absolute;
      width: 50%;
      height: 100%;
      background-image: url('../img/apartmentpage/details/background-left.png');
      background-size: 107%;
      background-repeat: no-repeat;
   }

   &__right {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0px;
      right: 0px;
      background-image: url('../img/apartmentpage/details/background-right.png');
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: 100% 20%;
   }
}

.details-content {
   position: relative;

   &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url('../img/apartmentpage/details/A.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100% 0%;
   }
}

.details-tables {
   display: grid;
   grid-template-columns: 29% 26% 26%;
   column-gap: 62px;

   color: rgba(16, 16, 16, 1);
}

.table-header {
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;

   border-bottom: 1px solid rgba(0, 0, 0, 1);

   text-align: left;
   padding: 0px 0px 21px 0px;
   margin: 0px 0px 28px 0px;
}

.table-row {
   margin: 0px 0px 19px 0px;
}

.table-common {
   border-spacing: 0px 19px;

   margin: 0px 0px 0px 0px;

   &__item {
      padding: 0px 68px 0px 0px;
   }
}

.table-services {
   border-spacing: 0px 19px;

   margin: 0px 38px 0px 0px;

   &__item {
      padding: 0px 28px 0px 0px;
   }
}

.table-distance {
   border-spacing: 0px 19px;

   margin: 0px 0px 0px 40px;
}


.table-item {
   display: inline-block;

   font-size: 15px;
   font-weight: 600;
   line-height: 18px;

   text-align: left;
}

.table-value {
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;

}

//</ABOUT-DETAILS>============================================================================================