@import "mixins.scss";
@import "ui.scss";

//====================================================================================================
.footer {
   position: relative;

   &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;

      & img {
         width: 115%;
         height: 100%;
         object-fit: cover;
         object-position: -285px 83%;
      }
   }

   &__gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(16, 16, 16, 0.7) 0%, rgba(16, 16, 16, 0.29) 99.15%);
   }

   &__content {
      position: relative;
      padding: 128px 0px 188px 0px;
      display: grid;
      grid-template-columns: minmax(auto, 450px) minmax(auto, 150px) minmax(auto, 273px) minmax(auto, 27px) minmax(auto, 256px);
      grid-template-rows: 1fr 128px;
   }

   &__form-block {
      max-width: 401px;
   }

   &__form {
      @include flexbox();
      flex-direction: column;
   }

   &__navigation {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
   }

   &__regions {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
   }

   &__contacts {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
   }

   &__design {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
      align-self: end;
      color: rgba(166, 159, 159, 1);
      margin: 0px 0px 22px 0px;
   }

   &__mob-title {
      display: none;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      font-size: 12px;
      line-height: 19px;
      color: rgba(130, 130, 130, 1);
   }
}

.footer-bottom {

   &__checkbox {
      display: none;
      margin: 0px 50px 0px 0px;
   }
}

.footer-form {

   &__bottom {
      @include flexbox();
      align-items: center;
      justify-content: end;
   }

   &__checkbox {
      margin: 0px 12px 0px 0px;
      position: relative;
      width: 20px;
      cursor: pointer;

      &:checked+.footer-form__label::after {
         transform: scale(1);
      }
   }

   &__label {
      position: relative;
      font-size: 12px;
      font-weight: 300;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;

      &::before {
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         border-radius: 6px;
         top: 8px;
         left: -31px;
         background-color: rgb(26, 26, 26);
         border: 1px solid rgba(255, 255, 255, 0.3);
      }

      &::after {
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         border-radius: 6px;
         top: 8px;
         left: -31px;
         background-color: rgba(255, 255, 255, 1);
         transform: scale(0);
         transition: all 0.5s ease 0s;
      }

      a {
         color: rgba(255, 255, 255, 0.5);
      }
   }
}

.form-title {
   font-weight: 500;
   margin: 0px 0px 24px 0px;
}

.footer-nav {

   &__title {
      font-weight: 500;
      margin: 0px 0px 22px 0px;
   }

   &__menu {
      li {
         margin: 0px 0px 22px 0px;
         overflow: hidden;

         a {
            position: relative;

            &::before {
               content: '';
               position: absolute;
               width: 100%;
               height: 1px;
               bottom: 0;
               left: -100%;
               background: rgba(255, 255, 255, 1);
            }

            &:hover::before {
               transition: all 0.5s ease 0s;
               left: 0%;
            }
         }
      }

      li.link-bottom {
         margin: 22px 0px 0px 0px;
      }
   }

   &__link {
      font-weight: 300;
   }
}

.footer-regions {

   &__title {
      font-weight: 500;
      color: rgba(188, 188, 188, 1);
      margin: 0px 0px 22px 0px;
   }

   &__menu {
      li {
         margin: 0px 0px 25px 0px;
         overflow: hidden;

         a {
            position: relative;
            font-size: 15px;
            font-weight: 300;
            line-height: 21px;
            color: rgba(188, 188, 188, 1);

            &::before {
               content: '';
               position: absolute;
               width: 100%;
               height: 1px;
               bottom: 0;
               left: -100%;
               background: rgba(188, 188, 188, 1);
            }

            &:hover::before {
               transition: all 0.5s ease 0s;
               left: 0%;
            }
         }
      }

      li.link-bottom {
         margin: 22px 0px 0px 0px;
      }
   }
}

.contacts-footer {
   position: relative;

   &__links {
      position: absolute;
      top: 0;
      right: 185px;
      max-width: 70px;
      width: 100%;
      @include flexbox();
      justify-content: space-between;

      a {
         transition: all 0.5s ease 0s;

         &:hover {
            transform: scale(1.1);
         }
      }
   }
}

.phone-footer {
   @include flexbox();
   align-items: center;
   margin: 0px 0px 16px 0px;

   &__image {
      margin: 0px 13px 0px 0px;
   }
}

.mail-footer {
   @include flexbox();
   align-items: center;
   margin: 0px 0px 16px 0px;

   &__image {
      margin: 0px 13px 0px 0px;
   }
}

.address-footer {
   @include flexbox();
   align-items: center;

   &__image {
      margin: 0px 13px 0px 0px;
   }
}

//====================================================================================================