@import "mixins.scss";
@import "ui.scss";

//====================================================================================================
.header {

	&__body {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		padding: 43px 0px 230.5px 0px;
		z-index: 10;
	}

	&__rightside {
		@include flexbox();
		max-width: 702.65px;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		max-width: 99px;
		width: 100%;
	}

	&__address {
		@include flexbox();
		max-width: 442.5px;
		align-items: center;

		&::before {
			content: '';
			width: 1px;
			margin: 0px 16px 0px 3px;
			height: 31.5px;
			background: rgba(255, 255, 255, 0.5);
		}

		&::after {
			content: '';
			width: 1px;
			margin: 0px 0px 0px 7px;
			height: 31.5px;
			background: rgba(255, 255, 255, 0.5);
		}
	}

	&__phone {
		@include flexbox();
		align-items: center;
	}

	&__leftside {
		position: relative;
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		max-width: 132px;
		width: 100%;
	}

	&__languages {
		@include flexbox();
		align-items: center;
		flex: 0 1 62%;
		justify-content: space-between;
	}

	&__language {
		padding: 6px 0px 7px 0px;
		font-size: 12px;
		line-height: 100%;
		z-index: 1;

		&._active {
			padding: 6px 0px 6px 0px;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
		}
	}

	&__menu {
		display: inline-block;
	}
}

.logo-header {

	&__content {
		@include flexbox();
	}

	&__image {
		margin: 0px 8px 0px 0px;
	}

	&__text {
		font-size: 15px;
		line-height: 160%;
	}
}

.address-header {

	&__image {
		margin: 0px 12px 0px 0px;
	}

	&__text {
		font-size: 15px;
		line-height: 160%;

		&:hover {
			text-decoration: underline;
		}
	}
}

.phone-header {

	&__image {
		margin: 0px 3.75px 0px 0px;
	}

	&__number {
		font-size: 15px;
		line-height: 160%;

		&:hover {
			text-decoration: underline;
		}
	}
}

li.instagram-icon img,
li.facebook-icon img {
	display: none;
}

.menu {

	&__icon {}

	&__body {
		position: fixed;
		top: 0%;
		right: -200%;
		width: 525px;
		height: 100%;
		overflow: auto;
		background-color: rgba(26, 26, 26, 1);
		transition: all 0.5s ease-in-out 0s;
		padding: 184px 0px 0px 71px;

		&.active {
			right: 0;
			padding: 184px 0px 0px 71px;
			z-index: 1;
		}
	}

	&__list {
		& li:nth-child(-n + 8) {
			margin: 0px 0px 25px 0px;
		}

		& li:nth-child(9) {
			margin: 0px 0px 58px 0px;
		}

		& li:nth-child(10) {
			margin: 0px 0px 10px 0px;
		}

		& li:nth-child(11) {
			margin: 0px 0px 102px 0px;
		}

		& li:nth-child(12) {
			margin: 0px 0px 79px 0px;
		}

		& li a.bottom-link {
			margin: 0px 0px 89px 0px;
		}
	}

	&__link {
		display: inline-block;
		position: relative;
		font-family: Manrope;
		font-size: 20px;
		line-height: 24px;
		color: rgba(101, 101, 101, 1);
		@include anim(0.5s, 0s);

		&._active {
			color: rgba(255, 255, 255, 1);

			&::before {
				content: '';
				position: absolute;
				top: 40%;
				left: -35%;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 1);
			}
		}

		&:hover {
			color: rgba(255, 255, 255, 1);
		}

		&.instagram-icon,
		&.facebook-icon {
			display: none;
		}

	}
}

//====================================================================================================

.icon-menu {
	display: block;
	position: absolute;
	top: 25%;
	right: 0px;
	width: 16px;
	height: 14px;
	cursor: pointer;
	z-index: 5;

	span {
		@include anim(0.5s, 0s);
		top: 6.5px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: rgba(255, 255, 255, 1);

		&:first-child {
			top: 0px;
		}

		&:last-child {
			top: auto;
			bottom: 0px;
		}
	}

	&.active {
		width: 22px;
		height: 22px;

		span {
			background-color: rgba(101, 101, 101, 1);
			@include scale(0);

			&:first-child {
				@include rotate(-45deg);
				top: 6.5px;
			}

			&:last-child {
				@include rotate(45deg);
				bottom: 14.5px;
			}
		}
	}
}