@import "mixins.scss";

$minwidth: 320px;
$mw: 1190;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//==================================
@media (max-width: 1300px) {
   .office-left {

      &__link {
         margin: 0px 0px 28px 0px;
      }
   }

}

@media (max-width: $md1+px) {
   .main-button {
      &__prev {
         left: 6.5%;
      }

      &__next {
         right: 5.5%;
      }
   }

   .houses,
   .blog {
      &__swiper {
         left: 0;
      }
   }

   .houses {
      &__title {
         font-size: 80px;
      }
   }

   .office-left {
      &__title {
         line-height: 90px;
      }
   }

   .management {
      &__right-column {
         left: -100px;
      }
   }

   .why {
      &__background {
         background-size: 350px;
      }
   }

   .item-why {
      &__number {
         font-size: 150px;
         line-height: 50px;
         margin: 120px 0px 31px 0px;

         & span,
         & sup {
            font-size: 45px;
         }
      }

      &__label {
         font-size: 16px;
         line-height: 20px;
         margin: 0px 0px 60px 0px;
      }

      &__text {
         font-size: 16px;
         line-height: 20px;
      }
   }

   .footer {
      &__contacts {
         grid-column: 1 / 2;
      }
   }

   .contacts-footer {
      &__links {
         right: 0;
      }
   }

   .quote {

      &__backgrounds {
         height: 400px;
      }

      &__content {
         top: -73px;
         padding: 195px 0px 133px 0px;
      }

      &__text {
         font-size: 48px;
         line-height: 56px;
         margin: 0px 0px 30px 0px;
      }

      &__subtext {
         font-size: 16px;
         line-height: 20px;
      }
   }

   .specialist-left {

      &__photo {
         left: 124px;
      }
   }

   .specialist-right {

      &__photo {
         left: -170px;
      }
   }

   .expertise {
      &__content {
         padding: 15px 0px 100px 0px;
      }

      &__links {
         margin: 0px 25px;
      }
   }

   .main-button__prev.rent__button-prev {
      left: 12%;

   }

   .main-button__next.rent__button-next {
      right: 11.7%;
   }
}

@media (max-width: 1110px) {
   .sales-bottom {
      &__left2 {
         margin: 0px 0px 30px 0px;
      }

      &__columns2 {
         flex-direction: column;
         align-items: start;
      }
   }
}

@media (max-width: 1024px) {
   .footer {
      &__background {
         & img {
            width: 150%;
            height: 100%;
            object-fit: cover;
            object-position: -400px 100%;
         }
      }
   }

   .sales-bottom {

      &__columns {
         flex-direction: column;
      }

      &__left {
         margin: 0px 0px 30px 0px;
      }
   }
}

@media (max-width: $md2+px) {
   .header {

      &__address,
      &__phone {
         display: none;
      }
   }

   .main-button {

      &__prev,
      &__next {
         display: none;
      }
   }

   .houses {

      &__title {
         max-width: 525px;

         & sup {
            top: -105px;
            right: -75px;
         }
      }
   }

   .office {
      padding: 80px 0px 60px 0px;

      &__content {
         flex-direction: column;
      }

      &__right-column {
         height: 100%;
         flex: 0 1 100%;
      }

      &__left-column {
         flex: 0 1 100%;
      }
   }

   .office-left {

      &__title {
         margin: 0px 0px 30px 0px;
      }

      &__text {
         max-width: 90%;
         margin: 0px 0px 80px 0px;
      }
   }

   .management {
      &__content {
         flex-direction: column;
      }

      &__right-column {
         left: 0;
         align-self: flex-end;
      }
   }

   .management-left {

      &__title {
         font-size: 65px;
      }

      &__text {
         padding: 0px 0px 107px 0px;
      }
   }

   .management-right {
      text-align: right;

      &__title {
         position: relative;
         max-width: 400px;
         font-size: 65px;

         & sup {
            position: absolute;
            width: 20%;
            top: 0;
            left: -30px;
         }
      }
   }

   .why {
      &__background {
         background-size: 330px;
      }
   }

   .item-why {
      &__number {
         font-size: 128px;
         margin: 100px 0px 31px 0px;
      }

      &__label {
         max-width: 230px;
         font-size: 15px;
         line-height: 18px;
      }

      &__text {
         font-size: 15px;
         line-height: 18px;
      }
   }

   .about-mainblock {
      &__title {
         font-size: 71px;
         line-height: 64px;
      }
   }

   .quote {

      &__backgrounds {
         height: 380px;
      }

      &__text {
         font-size: 38px;
         line-height: 50px;
         margin: 0px 0px 20px 0px;

         & sup {
            position: absolute;
            height: 100%;
            top: -30px;
            right: -30px;

            svg {
               width: 70%;
            }
         }
      }

      &__subtext {
         font-size: 14px;
         line-height: 20px;
      }
   }

   .quote-content {
      &__background {
         background-image: url('../img/aboutpage/quote/A.png');
         background-size: 700px;
         background-repeat: no-repeat;
         background-position: top right;
      }
   }

   .specialists {

      &__columns {
         padding: 400px 0px 200px 0px;
         @include flexbox();
         flex-direction: column;
      }
   }

   .specialist {

      &__left-column,
      &__right-column {
         flex: 0 1 100%;
      }
   }

   .specialist-left {
      margin: 0px 0px 600px 0px;

      &__content {
         text-align: left;
      }

      &__photo {
         max-width: 389px;
         left: 40px;

         img {
            max-width: 100%;
            width: 100%;
         }
      }
   }

   .specialist-right {

      &__content {
         text-align: right;
      }

      &__photo {
         max-width: 480px;
         top: -525px;
         left: 200px;

         img {
            max-width: 100%;
            width: 100%;
         }
      }
   }

   .expertise {
      padding: 60px 0px 47px 0px;

      &__content {
         flex-direction: column;
         align-items: center;
      }

      &__left-column {
         max-width: 100%;
         margin: 0px 0px 20px 0px;
      }
   }

   .expertise-right {

      &__photo {
         top: 0px;
      }
   }

   .expertise-left {

      &__text {
         max-width: 100%;
      }

      &__stats {
         max-width: 80%;
         margin: 0px auto 46px;
      }
   }

   .selling {
      &__swiper {
         right: 0;
      }
   }

   .sales-right {
      margin: 26px 0px 28px 0px;
   }

}

@media (max-width: 940px) {
   .information {

      &__background {

         & img {
            max-width: 100%;
            width: 100%;
            height: 107%;
            left: 0;
            object-fit: cover;
            object-position: 45% 0%;
         }
      }

      &__content {
         flex-direction: column;
         margin: 0;
      }

      &__left-column {
         max-width: 90%;
         margin: 0px 0px 20px;
      }
   }

   .information-left {
      padding: 44px 0px 0px 0px;

      &__text {
         max-width: 100%;
         margin: 0px 0px 38px 0px;
      }

      &__stats {
         max-width: 80%;
         margin: 0 auto 35px;
      }
   }

   .item-why {
      &__number {
         font-size: 105px;
         line-height: 45px;

         & span,
         & sup {
            font-size: 40px;
         }
      }

      &__label {
         margin: 0px 30px 50px;
      }
   }
}

@media (max-width: $md3+px) {
   .header {
      &__body {
         padding: 27px 0px 0px 0px;
      }
   }

   .mainblock {
      &__content {
         padding: 220px 0px 0px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 0px 0px 71px;

         &.active {
            padding: 96px 0px 0px 71px;
         }
      }
   }

   .popup {
      &__title {
         font-size: 60px;
      }
   }

   .information-left {

      &__stats {
         max-width: 100%;
         margin: 0 auto 35px;
      }
   }

   .main-swiper {
      &__slide {
         max-width: 500px;
      }
   }

   .houses {
      &__title {
         font-size: 65px;
         line-height: 70px;

         & sup {
            top: -100px;
            right: -70px;
         }
      }
   }

   .why {
      &__background {
         background-size: 260px;
      }

      &__items {
         justify-content: center;
      }

      &__item {
         flex: 0 1 70%;
      }
   }

   .item-why1,
   .item-why3 {
      display: none;
   }

   .contact {
      background: url('../img/mainpage/contact/background.jpg') 50% 65% no-repeat;
      background-size: 200%;

      &__content {
         padding: 175px 0px 90px 0px;
      }

      &__form {
         max-width: 624px;
         width: 100%;
      }
   }

   .contact-form {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 55px 1fr;
      column-gap: 19px;
      row-gap: 17px;
      align-items: start;

      &__email {
         grid-column: 1 / 3;
         max-width: 100%;
      }

      &__submit {
         grid-column: 2 / 3;
         grid-row: 2 / 3;
         padding: 11px 0px;
      }

      &__checkbox {
         margin: 0px 0px 202px 5px;
         grid-column: 1 / 2;
      }

      &__label {

         &::before,
         &::after {
            left: -30px;
         }
      }
   }

   .footer {

      &__background {
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: -445px -350px;
         }
      }

      &__content {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 40px 300px 1fr 128px;
         column-gap: 40px;
      }

      &__mob-title {
         display: block;
      }

      &__form-block {
         max-width: 70%;
         grid-column: 1 / 3;
         grid-row: 2 / 3;
      }

      &__regions {
         grid-column: 2 / 3;
         grid-row: 3 / 4;
      }

      &__navigation {
         grid-column: 1 / 2;
         grid-row: 3 / 4;
         margin: 0px 0px 40px 0px;
      }

      &__contacts {
         grid-column: 1 / 2;
         grid-row: 4 / 5;
      }

      &__design {
         grid-column: 2 / 3;
         grid-row: 4 / 5;
         justify-self: end;
      }
   }

   .about-mainblock {
      &__content {
         padding: 35px 0px 0px 0px;
      }
   }

   .quote {

      &__content {
         top: -53px;
         width: 90%;
         margin: 0 auto;
         padding: 175px 0px 120px 0px;
      }

      &__backgrounds {
         height: 350px;
      }

      &__text {
         max-width: 96%;
         font-size: 28px;
         line-height: 38px;

         & sup {
            top: -35px;
            right: -37px;

            svg {
               width: 45%;
            }
         }
      }
   }

   .specialist-right {

      &__photo {
         left: 90px;
      }
   }

   .expertise-left {

      &__stats {
         max-width: 100%;
         margin: 0px auto 46px;
      }
   }

   .objects-mainblock {
      padding: 0px 0px 275px 0px;
   }

   .selling {
      &__title {
         font-size: 65px;
         line-height: 65px;
         margin: 0px 0px 112px 25px;

         & sup {
            top: -27px;
            right: 20px;
            font-size: 12px;
            line-height: 19px;
         }
      }
   }

   .rent {
      &__title {
         & sup {
            font-size: 12px;
            line-height: 19px;
         }
      }
   }

   .sales-left {
      display: none;
   }

   .sales-item {
      &__columns {
         flex-direction: column;
      }
   }

   .sales-center {
      &__location {
         font-size: 14px;
         line-height: 20px;
         margin: 0px 0px 222px 0px;

         &::before {
            width: 10px;
            height: 16px;
         }
      }
   }

   .sales-right {
      margin: 0px 0px 78px 0px;
      padding: 30px 49px 30px;

      &__title {
         max-width: 100%;
      }

      &__text {
         max-width: 540px;
      }

      &__text2 {
         margin: 0px 0px 75px 0px;
      }

      &__size {
         margin: 0px 0px 37px 0px;
      }

      &__price {
         margin: 0px 0px 53px 0px;
      }

      &__size2 {
         margin: 0px 0px 0px 0px;
      }

      &__price2 {
         margin: 0px 0px 12px 0px;
      }
   }

   .sales-bottom {

      &__columns {
         flex-direction: row;
         justify-content: space-between;
      }

      &__columns2 {
         align-items: center;
      }

      &__left {
         margin: 0px 0px 0px 0px;
      }
   }
}

@media (max-width: 600px) {
   .mainblock {
      &__text {
         font-size: 12px;
         line-height: 19px;
      }

      &__title {
         font-size: 48px;
         line-height: 43px;
      }
   }

   .button-block {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
   }

   .button-contact {
      padding: 8px 22px;
      font-size: 12px;
      line-height: 19px;
      margin: 0px 27px 0px 0px;
   }

   .button-presentation {
      font-size: 12px;
      line-height: 19px;
   }

   .menu {
      &__body {
         padding: 96px 0px 0px 34px;

         &.active {
            width: 350px;
            padding: 96px 0px 0px 34px;
         }
      }

      &__link {
         font-size: 14px;
         line-height: 16.8px;
         color: rgba(199, 199, 199, 1);

         &.instagram-icon,
         &.facebook-icon {
            display: inline-block;
            margin: 0px 0px 100px 0px;
         }

         &.instagram-icon {
            float: left;
            margin: 0px 14px 0px 0px;
         }
      }

      &__list {

         & li:nth-child(9),
         & li:nth-child(11),
         & li:nth-child(12) {
            margin: 0px 0px 42px 0px;
         }

         & li a.bottom-link {
            margin: 0px 0px 14px 0px;
         }
      }
   }

   .information {
      padding: 44px 0px 0px;

      &__background {

         & img {
            height: 75%;
            top: -70px;
            object-position: 0% 0%;
         }
      }

      &__right-column {
         width: 100%;
      }
   }

   .information-left {
      padding: 0px 0px 0px 0px;

      &__title {
         font-size: 48px;
         line-height: 43px;
         margin: 0px 0px 38px 0px;

         & sup {
            font-size: 10px;
            line-height: 16px;
            top: -20px;
         }
      }

      &__sub-title {
         font-size: 14px;
         line-height: 17px;
         margin: 0px 0px 35px 0px;
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
         max-width: 466px;
         margin: 0px 0px 30px 0px;
      }

      &__button {
         width: 100%;
         text-align: center;
         padding: 16px 0px;
      }
   }

   .information-right {

      &__photo {
         max-width: 100%;
         width: 100%;
      }

      &__founder {
         bottom: 33px;
         left: 25px;
      }
   }

   .title {
      max-width: 312px;
      font-size: 48px;
      line-height: 43px;
   }

   .main-swiper {
      &__slide {
         max-width: 400px;
      }
   }

   .houses {
      padding: 60px 0px 62px 0px;

      &__title {
         margin: 0px 0px 50px 0px;

         & sup {
            font-size: 10px;
            line-height: 16px;
            top: -60px;
            right: -40px;
         }
      }
   }

   .slide {
      &__location {
         font-size: 12px;
         line-height: 14px;
         margin: 23px 0px 180px 20px;

         &::before {
            content: '';
            margin: 0px 7px 0px 0px;
            width: 11px;
            height: 16px;
         }
      }

      &__icon {
         & img {
            width: 44px;
         }
      }

      &__label {
         font-size: 12px;
         line-height: 18px;
         max-width: 73px;
         line-height: 21px;
         margin: 0px 0px 18px 18px;
      }

      &__title {
         max-width: 250px;
         font-size: 20px;
         line-height: 20px;
         margin: 0px 0px 11px 18px;
      }

      &__text {
         max-width: 320px;
         font-size: 14px;
         line-height: 18px;
         margin: 0px 0px 24px 18px;
      }
   }

   .blog {
      padding: 65px 0px 152px 0px;

      &__title {
         margin: 0px 0px 65px 0px;

         & sup {
            top: -15px;
            right: -30px;

            & svg {
               width: 50px;
               height: 50px;
            }
         }
      }
   }

   .slide-blog {
      &__top {
         margin: 23px 0px 274px 18px;
      }

      &__label {
         margin: 0px 0px 0px 0px;
      }

      &__link {
         display: none;
      }

      &__location {
         margin: 23px 0px 290px 18px;
      }

      &__text {
         margin: 0px 0px 19px 18px;
      }
   }

   .office {
      overflow: hidden;

      &__content {
         margin: 0px 0px 0px 0px;
      }

      &__background {
         height: 80%;
      }
   }

   .office-left {
      margin: 0px 25px;

      &__title {
         max-width: 100%;
         margin: 0px 0px 30px 0px;
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
         margin: 0px 0px 46px 0px;
      }

      &__button {
         padding: 16px 0px;
         width: 100%;
         text-align: center;
         margin: 0px 0px 46px 0px;
      }
   }

   .management {
      padding: 55px 0px 77px;

      &__background {
         background-size: 700px;
      }
   }

   .management-left {

      &__title {
         margin: 0px 0px 41px 0px;

         & sup {
            top: -50px;
            left: -95px;

            & a {
               font-size: 10px;
               line-height: 16px;
            }
         }
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
         padding: 0px 0px 100px 0px;
      }
   }

   .management-right {

      &__title {

         & sup {
            position: absolute;
            width: 18%;
            top: -10px;
            left: 0;

            & a {
               font-size: 10px;
               line-height: 16px;
            }
         }
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .why {
      padding: 38px 0px 78px;
   }

   .why-left {
      &__title {
         max-width: 100%;
         margin: 0px 0px 47px 0px;
      }
   }

   .item-why {
      &__number {
         line-height: 105px;
         margin: 59px 0px 0px 0px;

         & span {
            margin: 0px 0px 0px 15px;
            font-size: 35px;
            color: rgba(255, 255, 255, 0.7);
         }
      }

      &__label {
         margin: 0px 30px 64px;
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .contact {
      background: url('../img/mainpage/contact/background.jpg') 50% 80% no-repeat;
      background-size: 1200px;

      &__content {
         padding: 378px 0px 226px 0px;
      }

      &__form {
         max-width: 450px;
         width: 100%;
      }

      &__link {
         display: none;
      }
   }

   .contact-form {
      grid-template-columns: 1fr 0.5fr;

      &__email {
         max-width: 100%;
         font-size: 12px;
         line-height: 19px;
      }

      &__submit {
         padding: 9px 0px;
         font-size: 12px;
         line-height: 19px;
      }

      &__checkbox {
         margin: 0px 0px 0px 5px;
         font-size: 12px;
         font-weight: 300;
         line-height: 19px;
      }
   }

   .footer {
      &__background {
         & img {
            object-position: -330px -330px;
         }
      }

      &__content {
         padding: 45px 0px 28px 0px;
         grid-template-columns: 1fr;
         grid-template-rows: none;
         column-gap: 0;
      }

      &__mob-title {
         margin: 0px 0px 14px 0px;
      }

      &__form-block {
         max-width: 100%;
         grid-column: 1 / 2;
         grid-row: 2 / 3;
         margin: 0px 0px 73px 0px;
      }

      &__regions {
         display: none;
      }

      &__navigation {
         grid-column: 1 / 2;
         grid-row: 3 / 4;
         margin: 0px 0px 76px 0px;
      }

      &__contacts {
         grid-column: 1 / 2;
         grid-row: 4 / 5;
         margin: 0px 0px 68px 0px;
      }

      &__design {
         grid-column: 1 / 2;
         grid-row: 5 / 6;
      }
   }

   .footer-bottom {
      &__checkbox {
         @include flexbox();
      }
   }

   .quote {

      &__backgrounds {
         height: 250px;
      }

      &__content {
         padding: 125px 0px 80px 0px;
      }

      &__text {
         max-width: 85%;
         font-size: 24px;
         line-height: 30px;
         margin: 0px 0px 20px 0px;

         & sup {
            top: -40px;
            right: -47px;

            svg {
               width: 30%;
            }
         }
      }

      &__subtext {
         font-size: 12px;
         line-height: 16px;
      }
   }

   .specialists {

      &__columns {
         padding: 0px 0px 100px 0px;
      }
   }

   .specialist-left {
      padding: 400px 0px 100px 10px;
      margin: 40px 0px 40px 0px;

      &__photo {
         max-width: 100%;
         top: 0;
         left: 0;
         z-index: 1;
      }
   }

   .specialist-profession {
      margin: 0px 0px 29px 0px;
   }

   .specialist-right {
      padding: 450px 10px 100px 0px;
      margin: 0px 0px 50px 0px;

      &__photo {
         max-width: 100%;
         top: 0;
         left: 0;
         z-index: 2;
      }
   }

   .expertise-left {

      &__button {
         width: 100%;
         text-align: center;
         padding: 16px 0px;
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .expertise {
      &__content {
         margin: 0px 0px 0px 0px;
      }

      &__links {
         font-size: 16px;
         line-height: 19px;
      }

      &__left-column {
         margin: 0px 25px 20px;
      }
   }

   .expertise-right {
      &__photo {
         max-width: 100%;
      }
   }

   .objects-mainblock {
      background: url('../img/objectspage/mainblock/background.jpg') 25% 26% no-repeat;
      background-size: cover;
      padding: 0px 0px 225px 0px;

      &__content {
         padding: 17px 0px 0px 0px;
      }
   }

   .selling {
      padding: 50px 0px 60px 0px;

      &__title {
         max-width: 100%;
         margin: 0px 0px 62px 0px;

         & sup {
            top: -17px;
            right: 10px;
         }
      }
   }

   .rent {
      padding: 60px 0px 47px 0px;

      &__title {
         max-width: 100%;
         margin: 0px 0px 70px 0px;
      }

      &__links {
         flex-direction: column;
         font-size: 16px;
         line-height: 19px;

         a {
            padding: 0px 0px 4px 0px;
         }

         a.rent__link1 {
            margin: 0px 0px 20px 25px;

            &::before {
               top: calc(50% - 8px);
            }
         }

         a.rent__link2 {
            margin: 0px 0px 0px 0px;
         }
      }
   }

   .rent-swiper {
      margin: 0px 0px 60px 0px;

      &__slide {
         max-width: 400px;
      }
   }

   .sales-mainblock {
      background-size: cover;

      &__content {
         padding: 38px 0px 400px 0px;
      }

      &__title {
         position: relative;
         max-width: 351px;
         margin: 0px 0px 31px 0px;

         & sup {
            position: absolute;
            height: 100%;
            top: -45px;
            right: 30px;

            svg {
               max-width: 80px;
               width: 100%;
            }
         }
      }
   }
}

@media (max-width: 528.98px) {
   .quote {
      & sup {
         display: none;
      }
   }
}

@media (max-width: 500px) {
   .popup {
      &__title {
         font-size: 48px;
         line-height: 43.2px;
      }

      &__sub-title {
         font-size: 12px;
         line-height: 19px;
         margin: 0px 0px 49px 0px;
      }

      &__content {
         padding: 0px 34px 0px 20px;
      }

      &__header {
         padding: 20px 0px 43px 0px;
      }
   }

   .form-style {
      font-size: 12px;
      font-weight: 300;
      line-height: 19px;
   }

   .popup-background {
      background: url('../img/mainpage/mainblock/popup/background_mobile.png') 101% 0% no-repeat;
      background-size: cover;
   }

   .header-popup {
      &__logo {
         font-size: 12px;
         line-height: 19px;
      }

      &__close {
         top: 20px;
         background: url('../img/mainpage/mainblock/popup/close_adapt.svg') center center no-repeat;
      }
   }

   .popup-form {
      &__submit {
         font-size: 14px;
         line-height: 22.4px;
      }

      &__label {

         &::before,
         &::after {
            top: 20%;
         }

         & a {
            font-weight: 700;
         }
      }
   }

   .footer-popup {

      &__phone a,
      &__email a,
      &__address a {
         font-size: 12px;
         font-weight: 400;
         line-height: 19px;
      }
   }

   .office-left {

      &__title {
         margin: 0px 0px 47px 0px;
      }

      &__link,
      &__button {
         display: none;
      }
   }

   .office-right {

      &__gradient {
         display: block;
      }

      &__link {
         display: block;
         text-align: center;
         margin: -41px 0px 0px 0px;
      }
   }

   .office {
      padding: 35px 0px 0px 0px;

      &__right-column {
         padding: 605px 0px 0px 0px;
      }
   }

   .why {
      &__item {
         flex: 0 1 100%;
      }
   }

   .footer {
      &__content {
         padding: 45px 0px 28px 0px;
         grid-template-columns: 1fr;
         grid-template-rows: none;
         column-gap: 0;
      }
   }

   .form-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
   }

   .footer-form {
      &__submit {
         font-size: 14px;
         font-weight: 500;
         line-height: 22px;
      }
   }

   .footer-nav {
      &__title {
         font-size: 14px;
         font-weight: 500;
         line-height: 22px;
         margin: 0px 0px 28px 0px;
      }

      &__menu {
         li {
            margin: 0px 0px 15px 0px;

            a {
               position: relative;
               font-size: 12px;
               font-weight: 300;
               line-height: 19px;
            }
         }

         li.link-bottom {
            margin: -22px 0px 15px 0px;
         }
      }
   }

   .phone-footer {
      &__image img {
         width: 15px;
         height: 15px;
      }

      &__number {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .mail-footer {
      &__image img {
         width: 15px;
         height: 15px;
      }

      &__link {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .address-footer {
      &__image img {
         width: 15px;
         height: 15px;
      }

      &__street {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .quote-content {
      &__background {
         background-image: url('../img/aboutpage/quote/A.png');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: top right;
      }
   }

   .specialist-name {
      font-size: 19px;
      line-height: 20px;
   }

   .specialist-text,
   .specialist-profession {
      font-size: 12px;
      line-height: 19px;
   }
}

@media (max-width: $md4+px) {
   .mainblock {
      &__title {
         font-size: 38px;
         line-height: 43px;
      }
   }

   .information-left {

      &__button,
      &__stats {
         display: none;
      }
   }

   .menu {
      &__body {
         padding: 96px 10px 0px 34px;

         &.active {
            width: 300px;
            padding: 96px 10px 0px 34px;
         }
      }
   }

   .footer-popup {
      position: relative;

      &__icons {
         display: block;

         & a {
            position: absolute;
            top: 0;
            right: 0;
         }
      }

      &__instagram,
      &__facebook {
         display: block;
         transition: transform 0.5s ease 0s;

         &:hover {
            transform: scale(1.08);
         }
      }

      &__instagram {
         margin: 0px 40px 0px 0px;
      }

   }

   .popup-form {
      &__label {
         & a {
            font-weight: 700;
         }
      }
   }

   .phone-footer,
   .address-footer {
      &__text {
         color: rgba(184, 184, 184, 1);
      }

      &__image path {
         fill: rgba(184, 184, 184, 1);
      }
   }

   .email-footer {
      &__email {
         color: rgba(184, 184, 184, 1);
      }

      &__image path {
         fill: rgba(184, 184, 184, 1);
      }
   }

   .footer-bottom {

      &__checkbox {
         margin: 0px 10px 0px 0px;
      }
   }

   .about-mainblock {
      background: url('../img/aboutpage/mainblock/background.jpg') 35% 40% no-repeat;
      background-size: cover;
   }

   .specialist-left {
      padding: 300px 0px 50px 10px;
   }

   .specialist-right {
      padding: 390px 10px 100px 0px;
      margin: 70px 0px 0px 0px;
   }

   .specialist-profession {
      margin: 0px 0px 15px 0px;
   }

   .expertise {
      &__links {
         flex-direction: column;

         a.expertise__link1 {
            margin: 0px 0px 20px 10px;
         }
      }
   }

   .expertise-left {

      &__stats,
      &__button {
         display: none;
      }
   }

   .selling {
      &__title {
         margin: 0px 0px 70px 0px;

         & sup {
            display: inline-block;
            max-width: 117px;
            top: -17px;
            right: 10px;
         }
      }
   }

   .rent {
      &__title {
         & sup {
            top: -17px;
            right: 0px;
         }
      }
   }
}

@media (max-width: 425px) {

   .mainblock {
      padding: 0px 0px 278px 0px;
   }

   .information__left-column {
      margin: 0px 0px 0px;
   }

   .founder-info {

      &__name {
         font-weight: 600;
         font-size: 15px;
         line-height: 18px;
      }

      &__position {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .slide {

      &__icon {
         right: 20px;

         & img {
            width: 44px;
         }
      }

      &__title {
         font-size: 15px;
         line-height: 18px;
         max-width: 250px;
      }

      &__text {
         font-size: 12px;
         max-width: 250px;
      }
   }

   .slide-houses2,
   .slide-blog2 {
      background-position: 0% 25%;
   }

   .management {
      &__background {
         background-size: 860px;
         background-position: 80% 50%;
      }
   }

   .management-left {

      &__title {
         font-size: 44px;

         & sup {
            left: -90px;
         }
      }

      &__text {
         max-width: 271px;
      }
   }

   .management-right {

      &__title {
         font-size: 44px;

         & sup {
            left: 20px;
         }
      }

      &__text {
         padding: 0px 0px 0px 60px;
      }
   }

   .why {
      &__background {
         background-size: 285px;
      }
   }

   .contact-form {
      grid-template-columns: 1fr 0.5fr;

      &__email {
         max-width: 100%;
         font-size: 12px;
         line-height: 19px;
      }

      &__submit {
         padding: 9px 0px;
         font-size: 12px;
         line-height: 19px;
      }

      &__checkbox {
         font-size: 12px;
         font-weight: 300;
         line-height: 19px;
         text-align: left;
      }
   }

   .specialist-left {
      padding: 250px 0px 0px 10px;
      margin: 40px 0px 0px 0px;
   }

   .specialist-right {
      padding: 340px 10px 0px 0px;
      margin: 100px 0px 20px 0px;
   }

   .selling {
      &__title {
         & sup {
            display: inline-block;
            max-width: 117px;
         }
      }
   }

   .rent {
      &__title {
         & sup {
            display: inline-block;
            max-width: 101px;
         }
      }

      &__links {
         font-size: 13px;

         a.rent__link2 {
            &::after {
               margin: 0px 0px 0px 10px;
            }
         }
      }
   }

   .sales-mainblock {
      &__title {

         & sup {
            right: 40px;

            svg {
               max-width: 50px;
            }
         }
      }
   }

   .sales-bottom {

      &__columns {
         flex-direction: column;
      }

      &__columns2 {
         align-items: start;
      }

      &__left {
         margin: 0px 0px 30px 0px;
      }

      &__right {
         width: 100%;
      }

      &__button {
         display: inline-block;
         padding: 16px 0px;
         max-width: 100%;
         width: 100%;
         text-align: center;
      }
   }
}

@media (max-width: 392.98px) {
   .footer-bottom {
      &__checkbox {
         @include flexbox();
         align-items: start;
         margin: 0px 5px 0px 0px;
      }
   }

   .footer-form {
      &__checkbox {
         top: 3px;
      }

      &__label {

         &::before,
         &::after {
            top: 0;
         }
      }
   }
}

@media (max-width: 375.98px) {

   .mainblock {
      &__title {
         font-size: 36px;
      }

      &__content {
         padding: 218px 0px 0px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 10px 0px 34px;

         &.active {
            width: 231px;
            padding: 96px 10px 0px 34px;
         }
      }

      &__link {
         max-width: 187px;
      }
   }

   .title {
      max-width: 200px;
      font-size: 45px;
      line-height: 43px;
   }

   .information-left {
      &__title {
         max-width: 100%;
      }
   }

   .main-swiper {
      &__slide {
         max-width: 296px;
      }
   }

   .houses {
      &__title {
         & sup {
            top: -50px;
            right: -185px;
         }
      }
   }

   .office {

      &__background {
         transform: rotate(-13deg);
         top: -85px;
      }
   }

   .management-left {

      &__title {
         font-size: 36px;

         & sup {
            left: -70px;
         }
      }
   }

   .management-right {

      &__title {
         font-size: 36px;

         & sup {
            width: 27%;
            left: -45px;
         }
      }
   }

   .contact {
      &__title {
         max-width: 100%;
      }
   }

   .contact-form {
      max-width: 295px;
   }

   .about-mainblock {
      &__content {
         padding: 35px 0px 0px 0px;
      }
   }

   .specialist-right {
      padding: 280px 10px 20px 0px;
      margin: 60px 0px 0px 0px;
   }

   .selling {
      &__title {
         max-width: 100%;
         font-size: 38px;
         line-height: 33px;
         margin: 0px 0px 50px 0px;
      }
   }

   .rent {
      &__title {
         max-width: 100%;
         font-size: 38px;
         line-height: 33px;
      }
   }

   .rent-swiper {
      &__slide {
         max-width: 296px;
      }
   }

   .sales-mainblock {
      &__title {

         & sup {
            top: -40px;
            right: -20px;

            svg {
               max-width: 50px;
            }
         }
      }
   }
}