@import "mixins.scss";

$minwidth: 320px;
$mw: 1190;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//==================================

@media (max-width: $md1+px) {}

@media (max-width: $md2+px) {
   .header {

      &__address,
      &__phone {
         display: none;
      }
   }

}

@media (max-width: $md3+px) {
   .header {
      &__body {
         padding: 27px 0px 220px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 0px 0px 71px;

         &.active {
            padding: 96px 0px 0px 71px;
         }
      }
   }
}

@media (max-width: 600px) {
   .mainblock {
      &__title {
         font-size: 48px;
         line-height: 43px;
      }
   }

   .mainblock {
      &__text {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .button-block {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
   }

   .button-contact {
      padding: 8px 22px;
      font-size: 12px;
      line-height: 19px;
      margin: 0px 27px 0px 0px;
   }

   .button-presentation {
      font-size: 12px;
      line-height: 19px;
   }

   .menu {
      &__body {
         padding: 96px 0px 0px 34px;

         &.active {
            width: 350px;
            padding: 96px 0px 0px 34px;
         }
      }

      &__link {
         font-size: 14px;
         line-height: 16.8px;
         color: rgba(199, 199, 199, 1);

         &.instagram-icon,
         &.facebook-icon {
            display: inline-block;
            margin: 0px 0px 100px 0px;
         }

         &.instagram-icon {
            float: left;
            margin: 0px 14px 0px 0px;
         }
      }

      &__list {

         & li:nth-child(9),
         & li:nth-child(11),
         & li:nth-child(12) {
            margin: 0px 0px 42px 0px;
         }

         & li a.bottom-link {
            margin: 0px 0px 14px 0px;
         }
      }
   }
}

@media (max-width: $md4+px) {
   .mainblock {
      &__title {
         font-size: 38px;
         line-height: 43px;
      }
   }

   .header {
      &__body {
         padding: 27px 0px 220px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 10px 0px 34px;

         &.active {
            width: 300px;
            padding: 96px 10px 0px 34px;
         }
      }
   }
}


@media (max-width: 375px) {
   .header {
      &__body {
         padding: 27px 0px 218px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 10px 0px 34px;

         &.active {
            width: 231px;
            padding: 96px 10px 0px 34px;
         }
      }

      &__link {
         max-width: 187px;
      }
   }
}