@import "mixins.scss";

$minwidth: 320px;
$mw: 1190;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//==================================
@media (max-width: 1300px) {
   .column-left {

      &__link {
         margin: 0px 0px 28px 0px;
      }
   }
}

@media (max-width: $md1+px) {
   .houses {
      &__button-prev {
         left: 6.5%;
      }

      &__button-next {
         right: 5.5%;
      }
   }

   .column-left {
      &__title {
         line-height: 90px;
      }
   }
}

@media (max-width: $md2+px) {
   .header {

      &__address,
      &__phone {
         display: none;
      }
   }

   .houses {
      &__swiper {
         left: 0;
      }

      &__title {
         max-width: 525px;

         & sup {
            top: -105px;
            right: -75px;
         }
      }


      &__button-prev,
      &__button-next {
         display: none;
      }
   }

   .office {
      padding: 80px 0px 60px 0px;

      &__content {
         flex-direction: column;
      }

      &__right-column {
         height: 100%;
         flex: 0 1 100%;
      }

      &__left-column {
         flex: 0 1 100%;
      }
   }

   .column-left {

      &__title {
         margin: 0px 0px 30px 0px;
      }

      &__text {
         max-width: 90%;
         margin: 0px 0px 80px 0px;
      }
   }


}

@media (max-width: 940px) {
   .information {

      &__background {

         & img {
            max-width: 100%;
            width: 100%;
            height: 107%;
            left: 0;
            object-fit: cover;
            object-position: 45% 0%;
         }
      }

      &__content {
         flex-direction: column;
         margin: 0;
      }

      &__left-column {
         max-width: 90%;
         margin: 0px 0px 20px;
      }
   }

   .information-left {
      padding: 44px 0px 0px 0px;

      &__text {
         max-width: 100%;
         margin: 0px 0px 38px 0px;
      }

      &__stats {
         max-width: 80%;
         margin: 0 auto 35px;
      }
   }
}

@media (max-width: $md3+px) {
   .header {
      &__body {
         padding: 27px 0px 220px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 0px 0px 71px;

         &.active {
            padding: 96px 0px 0px 71px;
         }
      }
   }

   .popup {
      &__title {
         font-size: 60px;
      }
   }

   .information-left {

      &__stats {
         max-width: 100%;
         margin: 0 auto 35px;
      }
   }

   .houses {
      &__slide {
         max-width: 500px;
      }

      &__title {
         font-size: 65px;
         line-height: 70px;

         & sup {
            top: -100px;
            right: -70px;
         }
      }
   }

}

@media (max-width: 600px) {
   .mainblock {
      &__text {
         font-size: 12px;
         line-height: 19px;
      }

      &__title {
         font-size: 48px;
         line-height: 43px;
      }
   }

   .button-block {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
   }

   .button-contact {
      padding: 8px 22px;
      font-size: 12px;
      line-height: 19px;
      margin: 0px 27px 0px 0px;
   }

   .button-presentation {
      font-size: 12px;
      line-height: 19px;
   }

   .menu {
      &__body {
         padding: 96px 0px 0px 34px;

         &.active {
            width: 350px;
            padding: 96px 0px 0px 34px;
         }
      }

      &__link {
         font-size: 14px;
         line-height: 16.8px;
         color: rgba(199, 199, 199, 1);

         &.instagram-icon,
         &.facebook-icon {
            display: inline-block;
            margin: 0px 0px 100px 0px;
         }

         &.instagram-icon {
            float: left;
            margin: 0px 14px 0px 0px;
         }
      }

      &__list {

         & li:nth-child(9),
         & li:nth-child(11),
         & li:nth-child(12) {
            margin: 0px 0px 42px 0px;
         }

         & li a.bottom-link {
            margin: 0px 0px 14px 0px;
         }
      }
   }

   .information {
      padding: 44px 0px 0px;

      &__background {

         & img {
            height: 75%;
            top: -70px;
            object-position: 0% 0%;
         }
      }

      &__right-column {
         width: 100%;
      }
   }

   .information-left {
      padding: 0px 0px 0px 0px;

      &__title {
         font-size: 48px;
         line-height: 43px;
         margin: 0px 0px 38px 0px;

         & sup {
            font-size: 10px;
            line-height: 16px;
            top: -20px;
         }
      }

      &__sub-title {
         font-size: 14px;
         line-height: 17px;
         margin: 0px 0px 35px 0px;
      }

      &__text {
         font-size: 12px;
         line-height: 19px;
         max-width: 466px;
         margin: 0px 0px 30px 0px;
      }

      &__button {
         width: 100%;
         text-align: center;
         padding: 16px 0px;
      }
   }

   .information-right {

      &__photo {
         max-width: 100%;
         width: 100%;
      }

      &__founder {
         bottom: 33px;
         left: 25px;
      }
   }

   .title {
      max-width: 312px;
      font-size: 48px;
      line-height: 43px;
   }

   .houses {
      padding: 60px 0px 62px 0px;


      &__slide {
         max-width: 400px;
      }

      &__title {
         margin: 0px 0px 50px 0px;

         & sup {
            font-size: 10px;
            line-height: 16px;
            top: -60px;
            right: -40px;
         }
      }
   }

   .slide-houses {
      &__location {
         font-size: 12px;
         line-height: 14px;
         margin: 23px 0px 180px 20px;

         &::before {
            content: '';
            margin: 0px 7px 0px 0px;
            width: 11px;
            height: 16px;
         }
      }

      &__icon {
         & img {
            width: 44px;
         }
      }

      &__label {
         font-size: 12px;
         line-height: 18px;
         max-width: 73px;
         line-height: 21px;
         margin: 0px 0px 18px 18px;
      }

      &__title {
         max-width: 250px;
         font-size: 20px;
         line-height: 20px;
         margin: 0px 0px 11px 18px;
      }

      &__text {
         max-width: 320px;
         font-size: 14px;
         line-height: 18px;
         margin: 0px 0px 24px 18px;
      }
   }

   .column-left {

      &__title {
         max-width: 100%;
         margin: 0px 0px 30px 0px;
      }

      &__button {
         padding: 16px 0px;
         width: 100%;
         text-align: center;
      }
   }
}

@media (max-width: 500px) {
   .popup {
      &__title {
         font-size: 48px;
         line-height: 43.2px;
      }

      &__sub-title {
         font-size: 12px;
         line-height: 19px;
         margin: 0px 0px 49px 0px;
      }

      &__content {
         padding: 0px 34px 0px 20px;
      }

      &__header {
         padding: 20px 0px 43px 0px;
      }
   }

   .form-style {
      font-size: 12px;
      font-weight: 300;
      line-height: 19px;
   }

   .popup-background {
      background: url('../img/mainblock/popup/background_mobile.png') 101% 0% no-repeat;
      background-size: cover;
   }

   .header-popup {
      &__logo {
         font-size: 12px;
         line-height: 19px;
      }

      &__close {
         top: 20px;
         background: url('../img/mainblock/popup/close_adapt.svg') center center no-repeat;
      }
   }

   .popup-form {
      &__submit {
         font-size: 14px;
         line-height: 22.4px;
      }

      &__label {

         &::before,
         &::after {
            top: 20%;
         }

         & a {
            font-weight: 700;
         }
      }
   }

   .footer-popup {

      &__phone a,
      &__email a,
      &__address a {
         font-size: 12px;
         font-weight: 400;
         line-height: 19px;
      }
   }

   .column-left {

      &__link,
      &__button {
         display: none;
      }
   }
}

@media (max-width: $md4+px) {
   .mainblock {
      &__title {
         font-size: 38px;
         line-height: 43px;
      }
   }

   .header {
      &__body {
         padding: 27px 0px 220px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 10px 0px 34px;

         &.active {
            width: 300px;
            padding: 96px 10px 0px 34px;
         }
      }
   }

   .footer-popup {
      position: relative;

      &__icons {
         display: block;

         & a {
            position: absolute;
            top: 0;
            right: 0;
         }
      }

      &__instagram,
      &__facebook {
         display: block;
         transition: transform 0.5s ease 0s;

         &:hover {
            transform: scale(1.08);
         }
      }

      &__instagram {
         margin: 0px 40px 0px 0px;
      }

   }

   .popup-form {
      &__label {
         & a {
            font-weight: 700;
         }
      }
   }

   .phone-footer,
   .address-footer {
      &__text {
         color: rgba(184, 184, 184, 1);
      }

      &__image path {
         fill: rgba(184, 184, 184, 1);
      }
   }

   .email-footer {
      &__email {
         color: rgba(184, 184, 184, 1);
      }

      &__image path {
         fill: rgba(184, 184, 184, 1);
      }
   }
}

@media (max-width: 425px) {

   .mainblock {
      padding: 0px 0px 278px 0px;
   }

   .information__left-column {
      margin: 0px 0px 0px;
   }

   .information-left {

      &__button,
      &__stats {
         display: none;
      }
   }

   .founder-info {

      &__name {
         font-weight: 600;
         font-size: 15px;
         line-height: 18px;
      }

      &__position {
         font-size: 12px;
         line-height: 19px;
      }
   }

   .slide-houses {

      &__icon {
         right: 20px;

         & img {
            width: 44px;
         }
      }

      &__title {
         font-size: 15px;
         line-height: 18px;
         max-width: 250px;
      }

      &__text {
         font-size: 12px;
         max-width: 250px;
      }
   }
}

@media (max-width: 375px) {

   .mainblock {
      &__title {
         font-size: 36px;
      }
   }

   .header {
      &__body {
         padding: 27px 0px 218px 0px;
      }
   }

   .menu {
      &__body {
         padding: 96px 10px 0px 34px;

         &.active {
            width: 231px;
            padding: 96px 10px 0px 34px;
         }
      }

      &__link {
         max-width: 187px;
      }
   }

   .title {
      max-width: 200px;
      font-size: 45px;
      line-height: 43px;
   }

   .information-left {
      &__title {
         max-width: 100%;
      }
   }

   .houses {

      &__slide {
         max-width: 296px;
      }

      &__title {
         & sup {
            top: -50px;
            right: -185px;
         }
      }
   }
}