//<PROPERTY-MAINBLOCK>=====================================================
.property-mainblock {
   position: relative;
   padding: 0px 0px 204px 0px;

   background: url('../img/property-managementpage/mainblock/background.jpg') 0% 60% no-repeat;
   background-size: 150%;

   &__gradient {
      position: absolute;
      width: 100%;
      height: 650px;
      bottom: 0;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
   }

   &__content {
      position: relative;

      padding: 37.93px 0px 0px 0px;
   }

   &__title {
      margin: 0px 0px 27px 0px;
   }

   &__subtitle {
      font-size: 20px;
      line-height: 24px;

      margin: 0px 0px 44px 0px;
   }

   &__text {
      max-width: 452px;

      margin: 0px 0px 47px 0px;
   }
}

.property-breadcrumbs {
   margin: 0px 0px 50px 0px;

   &__list {
      max-width: 350px;
   }
}

.button-contact {
   display: inline-block;

   &_property-mainblock {
      padding: 17px 25px;
   }
}

//</PROPERTY-MAINBLOCK>====================================================
//<STATS-BLOCK>============================================================

.stats-block {

   &__body {
      position: relative;
      top: -69px;

      max-width: 1279px;
      width: 100%;
      margin: 0 auto;

      background-color: rgba(255, 251, 242, 1);
   }

   &__content {
      position: relative;

      @include flexbox();
      justify-content: space-between;

      padding: 92px 60px 75px;
   }

   &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-image: url('../img/property-managementpage/stats-block/A.png');
      background-size: contain;
      background-repeat: no-repeat;
   }

   &__title {
      position: relative;

      margin: 0px 0px 29px 0px;

      & sup {
         position: absolute;
         height: 100%;
         top: -30px;
         right: -35px;
      }
   }

   &__subtitle {
      font-size: 20px;
      line-height: 24px;

      color: rgba(46, 46, 46, 1);
   }

   &__right-column {
      flex: 0 1 434px;
   }
}

//</STATS-BLOCK>===========================================================
//<SERVICES-BLOCK>===========================================================

.services-block {
   position: relative;

   &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-image: url('../img/property-managementpage/our-services/A.png');
      background-repeat: no-repeat;
      background-size: 915px;
      background-position: 100% 65%;
   }

   &__content {
      position: relative;
      padding: 88px 0px 160px 0px;
   }

   &__columns {
      @include flexbox();
      justify-content: space-between;
   }

   &__left-column {
      flex: 0 1 57%;
   }

   &__right-column {
      position: relative;
      top: -40px;
      padding: 0px 0px 615px 0px;

      flex: 0 1 38%;

      background-image: url('../img/property-managementpage/our-services/image.jpg');
      background-repeat: no-repeat;
      background-size: 180%;
      background-position: 60% 92%;
   }
}

.services-left {

   &__title {
      max-width: 682px;
      width: 100%;

      margin: 0px 0px 52px 0px;
   }

   &__labels {
      max-width: 300px;
      width: 100%;
      @include flexbox();
      flex-wrap: wrap;

      margin: 0px 0px 45px 0px;
   }

   &__label {
      padding: 6px 11px;
      margin: 0px 6px 15px 0px;
      border-radius: 8px;

      font-size: 14px;
      line-height: 21px;

      color: rgba(190, 126, 0, 1);
      background-color: rgba(255, 249, 236, 1);
   }

   &__subtitle {
      font-size: 20px;
      line-height: 24px;

      margin: -15px 0px 26px 0px;
   }

   &__text {
      max-width: 473px;

      margin: 0px 0px 80px 0px;
   }

   &__button {
      display: inline-block;

      padding: 16px 34px;
      border-radius: 7px;

      background-color: rgba(255, 255, 255, 0.07);
   }
}

//</SERVICES-BLOCK>===========================================================