//<RENT MAINBLOCK>=====================================================================================

.rent-mainblock {
   position: relative;
   background: url('../img/rentpage/mainblock/background.jpg') 0% 45% no-repeat;
   background-size: 115%;

   &__gradient {
      position: absolute;
      width: 100%;
      height: 615px;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
   }

   &__content {
      padding: 37.93px 0px 337px 0px;
   }

   &__title {
      position: relative;
      max-width: 490px;
      margin: 0px 0px 45px 0px;

      & sup {
         position: absolute;
         height: 100%;
         top: -30px;
         right: 155px;
      }
   }

   &__text {
      max-width: 369px;
   }
}

.rent-breadcrumbs {
   margin: 0px 0px 0px 0px;

   &__list {
      max-width: 221px;
      margin: 0px 0px 161px 0px;
   }
}

//</RENT MAINBLOCK>====================================================================================
//<RENT ITEMS>====================================================================================
.rent-items {
   padding: 106px 0px 52px 0px;
}

.rent-title {
   margin: 0px 40px 0px 0px;

   sup {
      font-family: Manrope;
      font-size: 15px;
      line-height: 20px;
      position: relative;
      top: -30px;
      right: -5px;
   }
}

.rent-center {
   background-image: url('../img/rentpage/items/item1.jpg');
   background-position: 45% 25%;
   background-repeat: no-repeat;

   &__location {
      margin: 0px 0px 390px 0px;
   }
}

.rent-right {
   padding: 60px 49px 36px 69px;

   &__size4 {
      margin: 0px 0px 53px 0px;
   }
}

.rent-right2 {
   padding: 41px 49px 48px 69px;
   margin: 62px 0px;
}

.rent-bottom {
   &__left4 img {
      top: 0;
   }
}

.rent-items {
   &__tabs {
      margin: 0px 0px 126px 0px;

      .tabs__list {
         max-width: 424px;
         width: 100%;
         margin: 0px 0px 0px 0px;

         .tabs__link {
            margin: 0px 38px 0px 0px;
         }

         .tabs-link {
            &__last {
               margin: 0px 0px 0px 0px;
            }
         }
      }
   }
}

.rent-item {
   &__columns4 {
      margin: 0px 0px 94px 0px;
   }
}

.rent-center2 {
   background-image: url('../img/rentpage/items/item3.jpg');
   background-size: 225%;
   background-position: 50% 70%;
   background-repeat: no-repeat;
}

.rent-center3 {
   background-image: url('../img/rentpage/items/item2.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.rent-center4 {
   background-image: url('../img/rentpage/items/item4.jpg');
   background-size: 270%;
   background-position: 44% 95%;
   background-repeat: no-repeat;
}

//</RENT ITEMS>====================================================================================