//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Manrope";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1190;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

html {
	/*удаление скролла в Mozilla Firefox*/
	overflow-y: scroll;
	scrollbar-width: none;
}

body {
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: 400;
	background-color: rgba(16, 16, 16, 1);

	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;

	&.loaded {}
}

//<УДАЛЕНИЕ СКРОЛЛА>================================================
::-webkit-scrollbar {
	display: none;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 20px;
	}
}


//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<MAINBLOCK>====================================================================================================
.mainblock {
	padding: 0px 0px 240px 0px;
	background: url('../img/mainpage/mainblock/background.jpg') 50% 62.5% no-repeat;
	background-size: cover;

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include anim (0.5s, 0.1s);
		z-index: -1;

		&.active {
			background: rgba(16, 16, 16, 0.5);
			width: 100%;
			height: 100vh;
			z-index: 1;
		}
	}

	&__title {
		max-width: 900px;
		font-family: 'Playfair Display';
		font-size: 71px;
		line-height: 64px;
		margin: 0px 0px 29px 0px;
		vertical-align: top;
		text-align: left;
		letter-spacing: -0.02em;
		animation-duration: 2s;
		animation-delay: 0s;
	}

	&__text {
		max-width: 511px;
		margin: 0px 0px 27px 0px;
		animation-duration: 2s;
		animation-delay: 0.1s;
	}

	&__content {
		padding: 230.5px 0px 0px 0px;
	}
}

.button-block {
	@include flexbox();
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.button-contact {
	padding: 16px 15px;
	border-radius: 7px;
	background-color: rgba(255, 249, 236, 1);
	color: rgba(190, 126, 0, 1);
	@include anim (0.5s, 0s);

	&:hover {
		background-color: rgba(190, 126, 0, 1);
		color: rgba(255, 249, 236, 1);
		box-shadow: 0 0 10px 2.5px;
	}
}

.button-presentation {
	padding: 6px 0px 4px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	@include anim (0.5s, 0s);

	&:hover {
		border-bottom: 1px solid rgba(255, 255, 255, 0);
	}
}

//</MAINBLOCK>====================================================================================================
//<INFORMATION>================================================================================================

.information {
	position: relative;
	padding: 44px 0px 66px;
	background-color: rgba(21, 21, 21, 1);

	&__container {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
	}

	&__background {
		& img {
			position: absolute;
			height: 122%;
			top: -100px;
			right: 0;
		}
	}

	&__content {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		margin: 0px 25px;
	}

	&__left-column {
		max-width: 470px;
		flex: 0 1 59%;
		margin: 0px 20px 0px 0px;
	}

	&__right-column {
		position: relative;
		flex: 0 1 41%;
	}
}

.information-left {
	padding: 84px 0px 0px 0px;

	&__title {
		display: inline-block;
		margin: 0px 0px 20px 0px;

		& sup {
			position: relative;
			top: -37px;
			right: -7px;
			font-family: Manrope;
			font-size: 15px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
			@include anim (0.5s, 0s);
			padding: 0px 0px 3px 0px;

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}
	}

	&__sub-title {
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 55px 0px;
	}

	&__text {
		max-width: 466px;
		margin: 0px 0px 58px 0px;
	}

	&__stats {
		margin: 0px 0px 45px 0px;
	}

	&__button {
		position: relative;
		display: inline-block;
		padding: 16px 31px;
		border-radius: 7px;
		background-color: rgba(255, 255, 255, 0.07);
	}
}

.number-line {
	margin: 0px 5px;

	& img {
		max-width: 73px;
		width: 100%;
	}
}

.stats-info {

	&__items {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	&__number {
		font-family: 'Playfair Display';
		font-size: 85px;
		line-height: 76px;
		letter-spacing: -0.02em;
		margin: 0px 0px 28px 0px;
	}

	&__label {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
	}
}

.information-right {

	&__photo {
		max-width: 490px;
		width: 100%;

		& img {
			max-width: 100%;
			width: 100%;
		}
	}

	&__founder {
		position: absolute;
		bottom: 37px;
		left: 28px;
	}
}

.founder-info {

	&__name {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
	}

}

//</INFORMATION>================================================================================================
//<HOUSES>================================================================================================

.houses {
	padding: 118px 0px 149px 0px;

	&__title {
		margin: 0px 0px 63px 25px;

		& sup {
			position: relative;
			top: -24px;
			right: 2px;
			font-family: Manrope;
			font-size: 15px;
			font-weight: 400;
			line-height: 20.49px;
			letter-spacing: 0em;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
			@include anim (0.5s, 0s);
			padding: 0px 0px 3px 0px;

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}
	}

	&__swiper {
		left: -6%;
	}
}

.main-swiper {
	position: relative;
	width: 100%;

	&__wrapper {
		@include flexbox();
		width: 100%;
		height: 100%;
	}

	&__slide {
		position: relative;
		flex-shrink: 0;
		max-width: 708px;
		width: 100%;
	}
}

.main-button__prev {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 40px;
	top: 44.9%;
	left: 11.5%;
}

.main-button__next {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 40px;
	top: 44.9%;
	right: 12.5%;
}

.slide {
	position: relative;

	&__horizontal-gradient {
		position: absolute;
		width: 100%;
		height: 44%;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 100%);
	}

	&__vertical-gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 100%);
	}

	&__icon {
		position: absolute;
		height: 100%;
		top: -17px;
		right: 37px;
	}

	&__content {
		@include flexbox();
		flex-direction: column;
	}

	&__location {
		max-width: 180px;
		display: inline-block;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		margin: 53px 0px 309px 54px;
		z-index: 3;

		&::before {
			content: '';
			display: inline-block;
			background-image: url('../img/mainpage/houses/location_icon.svg');
			background-position: 0;
			background-size: 100%;
			background-repeat: no-repeat;
			margin: 0px 11px 0px 0px;
			vertical-align: -3px;
			width: 14px;
			height: 20px;
		}
	}

	&__label {
		max-width: 82px;
		display: block;
		line-height: 21px;
		padding: 6px 11px;
		margin: 0px 0px 27px 48px;
		border-radius: 8px;
		color: rgba(190, 126, 0, 1);
		background-color: rgba(255, 249, 236, 1);
		z-index: 2;
	}

	&__title {
		max-width: 374px;
		font-size: 24px;
		line-height: 29px;
		margin: 0px 0px 26px 48px;
		z-index: 2;
	}

	&__text {
		max-width: 340px;
		font-size: 14px;
		line-height: 21px;
		margin: 0px 0px 81px 48px;
		z-index: 2;
	}
}

.slide-houses1,
.slide-blog1 {
	background-image: url('../img/mainpage/houses/slide1.jpg');
	background-repeat: no-repeat;
	background-size: 152%;
	background-position: 0% 55%;
}

.slide-houses2,
.slide-blog2 {
	background-image: url('../img/mainpage/houses/slide2.jpg');
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: 91% 38%;
}

.slide-houses3,
.slide-blog3 {
	background-image: url('../img/mainpage/houses/slide3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 95%;
}

//</HOUSES>================================================================================================
//<OFFICE>================================================================================================

.office {
	position: relative;
	background-color: rgb(21, 21, 21);
	padding: 157px 0px 122px 0px;

	&__container {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		& img {
			height: 100%;
			object-fit: cover;
		}
	}

	&__gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(90deg, rgba(16, 16, 16, 0.51) 0%, rgba(16, 16, 16, 0.72) 0.01%, rgba(16, 16, 16, 0) 60.98%);
	}

	&__content {
		position: relative;
		@include flexbox();
		margin: 0px 25px;
		justify-content: space-between;
		z-index: 2;
	}

	&__right-column {
		flex: 0 0 41%;
		padding: 677px 0px 0px 0px;
	}

	&__left-column {
		flex: 0 1 48%;
	}
}

.office-left {

	&__title {
		margin: 0px 0px 71px 0px;
	}

	&__link {
		position: relative;
		@include flexbox();
		align-items: center;
		margin: 0px 0px 28px -17px;
	}

	&__text {
		max-width: 435px;
		margin: 0px 0px 157px 0px;
	}

	&__button {
		display: inline-block;
		border-radius: 7px;
		background-color: rgba(255, 255, 255, 0.07);
		padding: 16px 26px;
		margin: 0px 0px 83px 0px;
	}
}

.office-icon {
	display: inline-block;
	width: 68px;
	height: 68px;

	& svg {
		position: absolute;
	}

	& svg.arrow {
		position: absolute;
		top: 27px;
		left: 27px;
	}
}

.office-right {
	position: relative;
	background-image: url('../img/mainpage/office/office.jpg');
	background-repeat: no-repeat;
	background-position: 51% 80%;
	background-size: 140%;

	&__gradient {
		display: none;
		position: absolute;
		width: 100%;
		height: 215px;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	}

	&__link {
		display: none;
		position: relative;
		font-size: 10px;
		line-height: 16px;
	}
}

//</OFFICE>================================================================================================
//<MANAGEMENT>================================================================================================

.management {
	position: relative;
	padding: 180px 0px 140px;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url('../img/mainpage/management/background.png');
		background-size: 865px;
		background-repeat: no-repeat;
		background-position: 60% 50%;
	}

	&__container {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
	}

	&__content {
		@include flexbox();
		margin: 0px 25px;
	}

	&__right-column {
		position: relative;
		align-self: end;
	}
}

.management-left {

	&__title {
		display: inline-block;
		font-size: calc(48px + 37 * ((100vw - 320px) / (1440 - 320)));
		margin: 0px 0px 58px 0px;

		& sup {
			position: relative;
			top: -30px;
			font-family: Manrope;
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 0em;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
			@include anim (0.5s, 0s);
			padding: 0px 0px 3px 0px;

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}
	}

	&__text {
		max-width: 364px;
		padding: 0px 0px 247px 0px;
	}
}

.management-right {

	&__title {
		display: inline-block;
		font-size: calc(48px + 37 * ((100vw - 320px) / (1440 - 320)));
		margin: 0px 0px 43px 0px;

		& sup {
			position: relative;
			top: -120px;
			right: -140px;
			font-family: Manrope;
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 0em;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
			@include anim (0.5s, 0s);
			padding: 0px 0px 3px 0px;

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}
	}

	&__text {
		max-width: 393px;
	}
}

//</MANAGEMENT>================================================================================================
//<WHY>================================================================================================

.why {
	position: relative;
	background-color: rgb(21, 21, 21);
	padding: 78px 0px 114px;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url('../img/mainpage/why/background.svg');
		background-position: center 90%;
		background-size: 400px;
		background-repeat: no-repeat;
	}

	&__container {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
	}

	&__content {
		margin: 0px 25px;
	}

	&__items {
		@include flexbox();
	}

	&__item {
		position: relative;
		flex: 0 1 33.333%;
		margin: 0px 5px 0px 5px;
	}
}

.why-left {

	&__title {
		max-width: 736px;
		margin: 0px 0px 65px 0px;
	}
}

.item-why {
	@include flexbox();


	&__content {
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
	}

	&__blur {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.03);
		backdrop-filter: blur(10.5px);
		border-radius: 14px;
	}

	&__number {
		font-family: 'Playfair Display';
		font-size: 178px;
		line-height: 50px;
		letter-spacing: -0.05em;
		margin: 152px 0px 31px 0px;
		z-index: 1;

		& span,
		& sup {
			font-size: 56px;
		}
	}

	&__label {
		max-width: 270px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin: 0px 30px 70px;
		flex: 0 1 100%;
		z-index: 1;
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin: 0px 30px 64px;
		z-index: 1;
	}
}

.item-why1,
.item-why3 {
	border-radius: 14px;
	@include anim (0.5s, 0s);
	cursor: pointer;
	@include scale(0.9);
}

.item-why1,
.item-why3 {
	.item-why {
		&__blur {
			background: rgba(255, 255, 255, 0);
			backdrop-filter: none;
		}
	}
}

.item-why1:hover,
.item-why3:hover {
	@include scale(1);
	background: rgba(255, 255, 255, 0.03);
}

//</WHY>================================================================================================
//<BLOG>================================================================================================

.blog {
	padding: 105px 0px 155px 0px;

	&__title {
		position: relative;
		display: inline-block;
		margin: 0px 0px 80px 25px;

		& sup {
			position: absolute;
			height: 100%;
			top: -28px;
			right: -60px;
		}
	}

	&__swiper {
		left: -2%;
	}
}

.slide-blog {

	&__top {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		margin: 39px 48px 414px;
		z-index: 2;
	}

	&__label {
		margin: 0px 0px 0px 0px;
	}

	&__link {
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		@include anim (0.5s, 0s);
		padding: 0px 0px 3px 0px;

		&:hover {
			border-bottom: 1px solid rgba(255, 255, 255, 1);
		}
	}

	&__location {
		margin: 39px 0px 414px 48px;
	}

	&__text {
		margin: 0px 0px 41px 48px;
	}
}

//</BLOG>================================================================================================
//<CONTACT>===============================================================================================

.contact {
	position: relative;
	background: url('../img/mainpage/contact/background.jpg') 50% 58% no-repeat;
	background-size: 140%;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 75.85%);
	}

	&__content {
		position: relative;
		padding: 275px 0px 90px 0px;
		@include flexbox();
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		text-align: center;
		letter-spacing: -0.02em;
		margin: 0px 0px 66px 0px;
	}

	&__form {
		max-width: 624px;
		width: 100%;
	}

	&__link {
		position: relative;
		width: 100%;
		text-align: right;
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 0px -35px;

		a {
			position: relative;
			border-bottom: 1px solid rgba(255, 255, 255, 0);
			@include anim (0.5s, 0s);

			&::after {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 5px);
				margin: 0px 0px 0px 12px;
				background: url('../img/mainpage/contact/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 1);
			}
		}
	}
}

.contact-form {
	display: grid;
	grid-template-columns: 70% 1fr;
	grid-template-rows: 55px 1fr;
	column-gap: 9px;
	align-items: center;

	&__email {
		max-width: 429px;
		width: 100%;
		padding: 11px 0px 11px 21px;
		margin: 0px 9px 0px 0px;
		font-size: 20px;
		line-height: 32px;
		border-radius: 13px;
		color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.5);
		@include anim (0.5s, 0s);
		background-color: transparent;

		&:focus {
			border: 1px solid rgba(255, 255, 255, 1);
		}
	}

	&__submit {
		font-size: 20px;
		line-height: 32px;
		padding: 11px 41px;
		border-radius: 13px;
		color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.5);
		@include anim (0.5s, 0s);
		background-color: transparent;
		cursor: pointer;

		&:hover {
			color: rgba(255, 255, 255, 1);
			background-color: rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 10px 2.5px rgba(255, 255, 255, 1);
		}
	}

	&__check {
		margin: 0px 12px 0px 0px;
		position: relative;
		width: 20px;
		cursor: pointer;

		&:checked+.contact-form__label::after {
			@include scale(1);
		}
	}

	&__checkbox {
		@include flexbox();
		align-items: start;
		justify-content: center;
		margin: 20px 0px 302px -19px;
		grid-column: 1 / 3;
		text-align: center;
	}

	&__label {
		position: relative;
		font-size: 12px;
		font-weight: 300;
		line-height: 19px;
		color: rgba(255, 255, 255, 0.5);
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 6px;
			top: -2px;
			left: -33px;
			background-color: rgb(26, 26, 26);
			border: 1px solid rgba(255, 255, 255, 0.3);
		}

		&::after {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 6px;
			top: -2px;
			left: -33px;
			background-color: rgba(255, 255, 255, 1);
			@include scale(0);
			@include anim (0.5s, 0s);
		}

		a {
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

//</CONTACT>===============================================================================================
//<ABOUT MAINBLOCK>========================================================================================
.about-mainblock {
	position: relative;
	background: url('../img/aboutpage/mainblock/background.webp') 15% 40% no-repeat;
	background-size: 130%;

	&__gradient1 {
		position: absolute;
		width: 705px;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
		z-index: 0;
	}

	&__gradient2 {
		position: absolute;
		width: 240px;
		height: 100%;
		top: 0;
		right: 0;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
		transform: rotate(-180deg);
	}

	&__gradient3 {
		position: absolute;
		width: 100%;
		height: 200px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
		transform: rotate(-180deg);
	}

	&__content {
		padding: 35px 0px 0px 0px;
	}

	&__title {
		max-width: 1000px;
		margin: 0px 0px 40px 0px;
		font-size: 85px;
		line-height: 76px;
		letter-spacing: -0.02em;
	}

	&__text {
		max-width: 447px;
		margin: 0px 0px 25px 0px;
	}

	&__btn {
		padding: 16px 24px;
	}
}

.breadcrumbs {
	margin: 0px 0px 69px 0px;

	&__list {
		max-width: 152px;
	}
}

//</ABOUT MAINBLOCK>=======================================================================================
//<ABOUT QUOTE>=======================================================================================

.quote {
	position: relative;

	&__backgrounds {
		position: absolute;
		width: 100%;
		height: 526px;
		top: 0;
		left: 0;
	}

	&__content {
		position: relative;
		top: -93px;
		padding: 295px 0px 233px 0px;
		background-color: rgba(255, 251, 242, 1);
		@include flexbox();
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		position: relative;
		font-family: 'Playfair Display';
		font-size: 62px;
		line-height: 56px;
		letter-spacing: -0.02em;
		color: rgba(16, 16, 16, 1);
		text-align: center;
		margin: 0px 0px 38px 0px;

		& sup {
			position: absolute;
			height: 100%;
			top: -30px;
			right: -25px;
		}
	}

	&__subtext {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		color: rgba(29, 23, 23, 1);
	}
}

.quote-content {
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background-image: url('../img/aboutpage/quote/A.png');
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: top right;
	}
}

.quote-background {

	&__left {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-image: url('../img/aboutpage/quote/background_left.png');
		background-size: 100%;
		background-repeat: no-repeat;
	}

	&__right {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0px;
		right: 0px;
		background-image: url('../img/aboutpage/quote/background_right.png');
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

//</ABOUT QUOTE>=======================================================================================
//<ABOUT SPECIALISTS>=======================================================================================

.specialists {
	padding: 45px 0px 0px 0px;
	background-image: url('../img/aboutpage/specialists/background.png');
	background-position: 60% 40%;
	background-repeat: no-repeat;
	background-size: 960px;

	&__title {
		position: relative;
		max-width: 538px;
		z-index: 5;
	}

	&__columns {
		padding: 485px 0px 285px 0px;
		@include flexbox();
		justify-content: space-between;
	}
}

.specialist {

	&__left-column,
	&__right-column {
		flex: 0 1 390px;
	}
}

.specialist-left {
	position: relative;

	&__photo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -350px;
		left: 224px;
		z-index: 2;
	}

	&__content {
		position: relative;
		text-align: right;
		z-index: 2;
	}
}

.specialist-name {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.specialist-profession {
	margin: 0px 0px 29px 0px;
}

.specialist-right {
	position: relative;

	&__photo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -590px;
		left: -210px;
		z-index: 1;
	}

	&__content {
		position: relative;
		z-index: 2;
	}
}

//</ABOUT SPECIALISTS>=======================================================================================
//<ABOUT EXPERTISE>=======================================================================================

.expertise {
	background-color: rgba(21, 21, 21, 1);
	padding: 0px 0px 47px 0px;

	&__container {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
	}

	&__content {
		@include flexbox();
		justify-content: space-between;
		padding: 15px 0px 0px 0px;
		margin: 0px 25px 0px;
	}

	&__left-column {
		max-width: 460px;
		flex: 0 1 51%;
		margin: 0px 20px 0px 0px;
	}

	&__right-column {
		flex: 0 1 49%;
	}

	&__links {
		max-width: 1190px;
		margin: -20px 25px 0px;
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		line-height: 24px;

		a {
			position: relative;
			padding: 0px 0px 8px 0px;
			@include anim (0.5s, 0s);
		}

		a.expertise__link1 {
			margin: 0px 0px 0px 25px;
			border-bottom: 1px solid rgba(255, 255, 255, 1);

			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 10px);
				left: -25px;
				background: url('../img/aboutpage/expertise/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}

		a.expertise__link2 {
			margin: 0px 25px 0px 0px;
			border-bottom: 1px solid rgba(255, 255, 255, 0);

			&::after {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 10px);
				@include rotate(180deg);
				margin: 0px 0px 0px 17px;
				background: url('../img/aboutpage/expertise/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 1);
			}
		}
	}
}

.expertise-left {

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__text {
		max-width: 419px;
		margin: 0px 0px 46px 0px;
	}

	&__stats {
		margin: 0px 0px 46px 0px;
	}

	&__button {
		display: inline-block;
		padding: 16px 31px;
		border-radius: 7px;
		background-color: rgba(255, 255, 255, 0.07);
	}
}

.expertise-right {

	&__photo {
		position: relative;
		max-width: 586px;
		width: 100%;
		top: -100px;

		& img {
			max-width: 100%;
			width: 100%;
		}
	}
}

//</ABOUT EXPERTISE>=======================================================================================
//<OBJECTS MAINBLOCK>=======================================================================================

.objects-mainblock {
	position: relative;
	background: url('../img/objectspage/mainblock/background.jpg') 25% 26% no-repeat;
	background-size: 145%;
	padding: 0px 0px 475px 0px;

	&__gradient1 {
		position: absolute;
		width: 100%;
		height: 447px;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	}

	&__gradient2 {
		position: absolute;
		width: 100%;
		height: 268px;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
		transform: rotate(-180deg);
	}

	&__gradient3 {
		position: absolute;
		width: 287px;
		height: 100%;
		top: 0;
		right: 0;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
		transform: rotate(-180deg);
	}

	&__gradient4 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	}

	&__content {
		position: relative;
		padding: 37px 0px 0px 0px;
	}

	&__title {
		max-width: 200px;
		margin: 0px 0px 31px 0px;
	}

	&__text {
		max-width: 473px;
		margin: 0px 0px 0px 0px;
	}
}

.objects-breadcrumbs {

	&__list {
		max-width: 191px;
		margin: 0px 0px 161px 0px;
	}
}

//</OBJECTS MAINBLOCK>=======================================================================================
//<OBJECTS SELLING>=======================================================================================

.selling {
	padding: 105px 0px 128px 0px;

	&__title {
		margin: 0px 0px 112px 25px;

		& sup {
			position: relative;
			top: -37px;
			right: 24px;
			font-family: Manrope;
			font-size: 15px;
			line-height: 20.49px;
			letter-spacing: 0em;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
			@include anim (0.5s, 0s);
			padding: 0px 0px 3px 0px;

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}
	}

	&__swiper {
		right: -2.5%;
	}
}

.slide-selling {
	&__title {
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 30px 48px;
	}

	&__text {
		font-size: 12px;
		line-height: 18px;
	}
}

.slide-selling1 {
	background-image: url('../img/objectspage/selling/slide1.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 55%;
}

.slide-selling2 {
	background-image: url('../img/objectspage/selling/slide2.webp');
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: 91% 62%;
}

.slide-selling3 {
	background-image: url('../img/objectspage/selling/slide3.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 55%;
}

//</OBJECTS SELLING>=======================================================================================
//</OBJECTS RENT>=======================================================================================

.rent {
	padding: 89px 0px 47px 0px;
	background-color: rgba(21, 21, 21, 1);

	&__title {
		margin: 0px 0px 164px 0px;

		& sup {
			position: relative;
			top: -27px;
			right: 0;
			font-family: Manrope;
			font-size: 15px;
			line-height: 20.49px;
			letter-spacing: 0em;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
			@include anim (0.5s, 0s);
			padding: 0px 0px 3px 0px;

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}
	}

	&__links {
		max-width: 1190px;
		margin: 0px 0px 0px;
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		line-height: 24px;

		a {
			position: relative;
			padding: 0px 0px 8px 0px;
			@include anim (0.5s, 0s);
		}

		a.rent__link1 {
			margin: 0px 0px 0px 25px;
			border-bottom: 1px solid rgba(255, 255, 255, 1);

			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 10px);
				left: -25px;
				background: url('../img/aboutpage/expertise/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}

		a.rent__link2 {
			margin: 0px 25px 0px 0px;
			border-bottom: 1px solid rgba(255, 255, 255, 0);

			&::after {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 10px);
				@include rotate(180deg);
				margin: 0px 0px 0px 17px;
				background: url('../img/aboutpage/expertise/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 1);
			}
		}
	}
}

.rent-swiper {
	position: relative;
	width: 100%;
	margin: 0px 0px 149px 0px;

	&__wrapper {
		@include flexbox();
		width: 100%;
		height: 100%;
	}

	&__slide {
		position: relative;
		flex-shrink: 0;
		max-width: 546px;
		width: 100%;
	}
}

.slide-rent {

	&__content {
		@include flexbox();
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__bottom {
		@include flexbox();
		flex-direction: column;
		justify-content: end;
		height: 100%;
	}

	&__location {
		margin: 41px 0px 199.5px 42px;
	}

	&__title {
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 36px 42px;
	}

	&__text {
		font-size: 12px;
		line-height: 18px;
		margin: 0px 0px 89px 42px;
	}

	&__label {
		margin: 0px 0px 21px 42px;
	}
}

.rent-slide {
	position: relative;

	&__bottom-gradient {
		position: absolute;
		width: 100%;
		height: 40%;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 100%);
	}

	&__top-gradient {
		position: absolute;
		width: 100%;
		height: 60%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.19) 100%);
		transform: rotate(-180deg);
	}
}

.main-button__prev.rent__button-prev {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 40px;
	top: 41%;
	left: 18%;

}

.main-button__next.rent__button-next {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 40px;
	top: 41%;
	right: 17.7%;
}


.slide-rent1 {
	background-image: url('../img/objectspage/rent/slide1.webp');
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: 91% 35%;
}

.slide-rent2 {
	background-image: url('../img/objectspage/rent/slide2.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 95%;
}

.slide-rent3 {
	background-image: url('../img/objectspage/rent/slide3.webp');
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: 91% 62%;
}

//</OBJECTS RENT>=======================================================================================
//<SALES MAINBLOCK>=======================================================================================

.sales-mainblock {
	position: relative;
	background: url('../img/salespage/mainblock/background.jpg') 40% 60% no-repeat;
	background-size: 120%;

	&__gradient {
		position: absolute;
		width: 100%;
		height: 615px;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	}

	&__content {
		padding: 38px 0px 450px 0px;
	}

	&__title {
		position: relative;
		max-width: 451px;
		margin: 0px 0px 31px 0px;

		& sup {
			position: absolute;
			height: 100%;
			top: -35px;
			right: 20px;
		}
	}

	&__text {
		max-width: 435px;
	}
}

.sales-breadcrumbs {
	margin: 0px 0px 159px 0px;

	&__list {
		max-width: 235px;
	}
}

//</SALES MAINBLOCK>==================================================================================
//<SALES ITEMS>=======================================================================================

.object-items {
	padding: 154px 0px 47px 0px;
	background-color: rgba(21, 21, 21, 1);

	&__content {
		max-width: 1315px;
		width: 100%;
		margin: 0 auto;
	}

	&__top {
		max-width: 1210px;
		width: 100%;
		margin: 0 50px;
		@include flexbox();
		align-items: baseline;
		justify-content: start;
	}

	&__links {
		margin: -10px 55px 0px;
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		line-height: 24px;

		a {
			position: relative;
			padding: 0px 0px 8px 0px;
			@include anim (0.5s, 0s);
		}

		a.object-items__link1 {
			margin: 0px 0px 0px 25px;
			border-bottom: 1px solid rgba(255, 255, 255, 1);

			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 10px);
				left: -25px;
				background: url('../img/aboutpage/expertise/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 0);
			}
		}

		a.object-items__link2 {
			margin: 0px 40px 0px 0px;
			border-bottom: 1px solid rgba(255, 255, 255, 0);

			&::after {
				content: '';
				position: absolute;
				width: 8px;
				height: 15px;
				top: calc(50% - 10px);
				@include rotate(180deg);
				margin: 0px 0px 0px 17px;
				background: url('../img/aboutpage/expertise/arrow.svg') no-repeat;
			}

			&:hover {
				border-bottom: 1px solid rgba(255, 255, 255, 1);
			}
		}
	}
}

.object-item {

	&__columns {
		@include flexbox();
		margin: 0px 0px 106px 0px;
	}

	&__columns3,
	&__columns4 {
		justify-content: space-between;
	}

}

.object-left {
	flex: 0 1 4%;
	background-color: rgba(16, 16, 16, 1);
	margin: 46px 0px 78px 0px;
}

.object-center {
	flex: 0 1 53%;
	position: relative;
	background-image: url('../img/salespage/items/item1.jpg');
	background-position: center 51%;
	background-size: 176%;

	&__horizontal-gradient {
		position: absolute;
		width: 100%;
		height: 40%;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 100%);
	}

	&__icon {
		position: absolute;
		height: 100%;
		top: -17px;
		right: 37px;
	}

	&__content {
		position: relative;
		margin: 56px 48px 68px 48px;
	}

	&__content3,
	&__content4 {
		margin: 44px 42px 97px 42px;
	}

	&__location {
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 422px 0px;

		&::before {
			content: '';
			display: inline-block;
			background-image: url('../img/salespage/items/location-icon.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			margin: 0px 11px 0px 0px;
			vertical-align: -3px;
			width: 14px;
			height: 20px;
		}
	}

	&__location2 {
		margin: 0px 0px 386px 0px;
	}

	&__location3 {
		margin: 0px 0px 246px 0px;
	}

	&__location4 {
		margin: 0px 0px 250px 0px;
	}

	&__title {
		max-width: 296px;
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 31px 0px;
	}

	&__title2 {
		margin: 0px 0px 35px 0px;
	}

	&__title4 {
		margin: 0px 0px 35px 0px;
	}

	&__text {
		max-width: 340px;
		font-size: 12px;
		line-height: 18px;
	}
}

.sales-center2 {
	background-image: url('../img/salespage/items/item3.jpg');
	background-size: 212%;
	background-repeat: no-repeat;
	background-position: 48% 80%;
}

.object-left3,
.object-left4 {
	flex: 0 1 4%;
}

.sales-center3,
.sales-center4 {
	background-image: url('../img/salespage/items/item2.jpg');
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.object-center3,
.object-center4 {
	position: relative;
	flex: 0 1 41%;

	&__icon {
		position: absolute;
		height: 100%;
		top: -13px;
		right: 20px;
	}

	&__top-gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.19) 100%);
		transform: rotate(-180deg);
	}
}

.sales-center4 {
	background-image: url('../img/salespage/items/item4.jpg');
	background-position: 0% 100%;
}

.object-right {
	flex: 0 1 42%;
	margin: 46px 0px 78px 0px;
	padding: 60px 69px 38px;
	background-color: rgba(16, 16, 16, 1);

	&__title {
		max-width: 296px;
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0px 36px 0px;
	}

	&__text {
		max-width: 340px;
		font-size: 12px;
		line-height: 18px;
		margin: 0px 0px 26px 0px;
	}

	&__text2 {
		margin: 0px 0px 275px 0px;
	}

	&__text3,
	&__text4 {
		margin: 0px 0px 184px 0px;
	}

	&__size {
		font-size: 14px;
		line-height: 21px;
		margin: 0px 0px 107px 0px;
	}

	&__size2 {
		margin: 0px 0px 0px 0px;
	}

	&__size3 {
		margin: 0px 0px 59px 0px;
	}

	&__size4 {
		margin: 0px 0px 70px 0px;
	}

	&__price {
		font-size: 24px;
		line-height: 29px;
		margin: 0px 0px 103px 0px;
	}

	&__price2 {
		margin: 0px 0px 12px 0px;
	}

	&__price3,
	&__price4 {
		margin: 0px 0px 12px 0px;
	}
}

.object-right3,
.object-right4 {
	flex: 0 1 42.5%;
	margin: 0px 0px 0px 0px;
	padding: 10px 69px 0px;
	background-color: rgba(0, 0, 0, 0);
}

.object-bottom {

	&__columns {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		@include flexbox();
		align-items: center;

		img {
			margin: 0px 17px 0px 0px;
		}
	}

	&__left2 {
		flex-direction: column;
		align-items: start;
	}

	&__left4 {
		img {
			position: relative;
			top: -10px;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 21px;
	}

	&__button {
		padding: 16px 32px;
		font-size: 15px;
		line-height: 24px;
		background-color: rgba(255, 255, 255, 0.07);
		border-radius: 7px;
	}
}

.tabs {
	margin: 0px 0px 132px 0px;

	&__list {
		@include flexbox();
		justify-content: end;
		margin: 0px 35px 0px 0px;

		li {
			position: relative;
		}
	}

	&__link {
		position: relative;
		margin: 0px 69px 0px 0px;
		color: rgba(255, 255, 255, 1);

		&::after {
			content: url('../img/salespage/items/arrow.svg');
			position: absolute;
			height: 100%;
			top: -2px;
			right: -24px;
		}
	}
}

//</SALES ITEMS>=======================================================================================
//<RENT MAINBLOCK>=====================================================================================

.rent-mainblock {
	position: relative;
	background: url('../img/rentpage/mainblock/background.jpg') 0% 45% no-repeat;
	background-size: 115%;

	&__gradient {
		position: absolute;
		width: 100%;
		height: 615px;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	}

	&__content {
		padding: 37.93px 0px 337px 0px;
	}

	&__title {
		position: relative;
		max-width: 490px;
		margin: 0px 0px 45px 0px;

		& sup {
			position: absolute;
			height: 100%;
			top: -30px;
			right: 155px;
		}
	}

	&__text {
		max-width: 369px;
	}
}

.rent-breadcrumbs {
	margin: 0px 0px 0px 0px;

	&__list {
		max-width: 221px;
		margin: 0px 0px 161px 0px;
	}
}

//</RENT MAINBLOCK>====================================================================================
//<RENT ITEMS>====================================================================================
.rent-items {
	padding: 106px 0px 52px 0px;
}

.rent-title {
	margin: 0px 40px 0px 0px;

	sup {
		font-family: Manrope;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		top: -30px;
		right: -5px;
	}
}

.rent-center {
	background-image: url('../img/rentpage/items/item1.jpg');
	background-position: 45% 25%;
	background-repeat: no-repeat;

	&__location {
		margin: 0px 0px 390px 0px;
	}
}

.rent-right {
	padding: 60px 49px 36px 69px;

	&__size4 {
		margin: 0px 0px 53px 0px;
	}
}

.rent-right2 {
	padding: 41px 49px 48px 69px;
	margin: 62px 0px;
}

.rent-bottom {
	&__left4 img {
		top: 0;
	}
}

.rent-items {
	&__tabs {
		margin: 0px 0px 126px 0px;

		.tabs__list {
			max-width: 424px;
			width: 100%;
			margin: 0px 0px 0px 0px;

			.tabs__link {
				margin: 0px 38px 0px 0px;
			}

			.tabs-link {
				&__last {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
}

.rent-item {
	&__columns4 {
		margin: 0px 0px 94px 0px;
	}
}

.rent-center2 {
	background-image: url('../img/rentpage/items/item3.jpg');
	background-size: 225%;
	background-position: 50% 70%;
	background-repeat: no-repeat;
}

.rent-center3 {
	background-image: url('../img/rentpage/items/item2.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.rent-center4 {
	background-image: url('../img/rentpage/items/item4.jpg');
	background-size: 270%;
	background-position: 44% 95%;
	background-repeat: no-repeat;
}

//</RENT ITEMS>====================================================================================
//<MEDIA>====================================================================================================
@import "media.scss";