//<COMMON STYLES>====================================================================================================
.text-style {
	font-family: Manrope;
	font-size: 15px;
	line-height: 24px;
}

a.bottom-link {
	font-size: 15px;
}

.link1 {
	float: left;
	padding: 0px 52px 0px 0px;
}

.form-style {
	font-family: Manrope;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	background: transparent;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	margin: 0px 0px 29px 0px;
	transition: border-bottom 0.5s ease 0s;

	&:focus {
		border-bottom: 1px solid rgba(255, 255, 255, 1);
	}
}

.title {
	font-family: 'Playfair Display';
	font-size: 85px;
	font-weight: 400;
	line-height: 76px;
	letter-spacing: -0.02em;
}

//<IBG>====================================================================================================

.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	.ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//</IBG>====================================================================================================