//<COMMON STYLES>====================================================================================================
.text-style {
	font-size: 15px;
	line-height: 24px;
}

a.bottom-link {
	font-size: 15px;
}

.link1 {
	float: left;
	padding: 0px 52px 0px 0px;
}

.form-style {
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	background: transparent;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	margin: 0px 0px 29px 0px;
	transition: border-bottom 0.5s ease 0s;

	&:focus {
		border-bottom: 1px solid rgba(255, 255, 255, 1);
	}
}

.title {
	font-family: 'Playfair Display';
	font-size: 85px;
	font-weight: 400;
	line-height: 76px;
	letter-spacing: -0.02em;
}

.submit-btn {
	width: 132px;
	font-weight: 500;
	align-self: flex-end;
	background: none;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	padding: 0px 0px 2px 0px;
	cursor: pointer;
	transition: border-bottom 0.5s ease 0s;

	&:hover {
		border-bottom: 1px solid rgba(255, 255, 255, 0);
	}
}

//<REMOVE PLACEHOLDER>

*:focus::-webkit-input-placeholder {
	opacity: 0;
}

/* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19-50 */
*:focus:-ms-input-placeholder {
	opacity: 0;
}

/* IE 10+ */
*:focus::placeholder {
	opacity: 0;
}