//<COMMON STYLES>====================================================================================================
.text-style {
	font-size: 15px;
	line-height: 24px;

	&_black {
		color: rgba(16, 16, 16, 1);
	}
}

a.bottom-link {
	font-size: 15px;
}

.link1 {
	float: left;
	padding: 0px 52px 0px 0px;
}

.form-style {
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	background: transparent;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	margin: 0px 0px 29px 0px;
	transition: border-bottom 0.5s ease 0s;

	&:focus {
		border-bottom: 1px solid rgba(255, 255, 255, 1);
	}
}

.title {
	font-family: 'Playfair Display';
	font-size: 85px;
	font-weight: 400;
	line-height: 76px;
	letter-spacing: -0.02em;

	&_black {
		color: rgba(16, 16, 16, 1);
	}
}

.submit-btn {
	width: 132px;
	font-weight: 500;
	align-self: flex-end;
	background: none;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	padding: 0px 0px 2px 0px;
	cursor: pointer;
	transition: border-bottom 0.5s ease 0s;

	&:hover {
		border-bottom: 1px solid rgba(255, 255, 255, 0);
	}
}

.breadcrumbs {
	position: relative;

	&__list {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
	}
}

.breadcrumbs-link {
	position: relative;
	font-size: 12px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.6);

	&::after {
		content: url('../img/aboutpage/mainblock/arrow.svg');
		position: absolute;
		height: 100%;
		top: 0;
		right: -10px;
	}

	&.active {
		color: rgba(255, 255, 255, 1);

		&::after {
			content: '';
		}
	}
}

.btn-white {
	@include anim (0.5s, 0s);

	&:hover {
		color: rgba(21, 21, 21, 1);
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0 0 10px 2.5px rgba(255, 255, 255, 1);
	}
}

//<FORMS-STYLES>==================================================

.form-field {
	position: relative;
	max-width: 429px;
	width: 100%;
	padding: 11px 21px;

	margin: 0 auto;

	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0em;

	border-radius: 13px;
	border: 1px solid rgba(255, 255, 255, 0.5);

	background-color: transparent;
	color: rgba(255, 255, 255, 1);

	@include anim(0.5s, 0s);

	&:focus {
		border-color: rgba(255, 255, 255, 1);
	}
}

.form-name,
.form-phone {
	margin: 0px auto 21px;
}

.form-email {
	margin: 0px auto 24px;
}

.form-submit {
	display: inline-block;
	cursor: pointer;

	font-size: 20px;
	line-height: 32px;
	border-radius: 13px;
	border: 1px solid rgba(255, 255, 255, 0.5);

	color: rgba(255, 255, 255, 0.5);
	background-color: transparent;

	@include anim(0.5s, 0s);

	&:hover {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 10px 2.5px rgba(255, 255, 255, 1);
	}
}

.form-bottom {
	@include flexbox();
}

.form-checkbox {
	&__block {
		@include flexbox();
		align-items: center;
	}

	&:checked+.form-label::after {
		@include scale(1);
	}
}

.form-label {
	position: relative;

	font-size: 12px;
	font-weight: 300;
	line-height: 19px;

	color: rgba(255, 255, 255, 0.5);

	cursor: pointer;

	&::before,
	&::after {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 6px;
		top: 1px;
		left: -25px;
	}

	&::before {
		content: '';
		background-color: rgb(26, 26, 26);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	&::after {
		content: '';
		background-color: rgba(255, 255, 255, 1);
		@include scale(0);
		@include anim (0.5s, 0s);
	}

	& a {
		color: rgba(255, 255, 255, 0.5);
	}
}

.form-textarea {
	font-size: 20px;
	line-height: 32px;

	resize: none;

	margin: 0px auto 30px;
}

//<REMOVE PLACEHOLDER>============================================

*:focus::-webkit-input-placeholder {
	opacity: 0;
}

/* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19-50 */
*:focus:-ms-input-placeholder {
	opacity: 0;
}

/* IE 10+ */
*:focus::placeholder {
	opacity: 0;
}